unpackaged/main/default/flows/FLOW_TASK_AfterTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Message_Email_Alert</name>
        <label>Error Message Email Alert</label>
        <locationX>2162</locationX>
        <locationY>3047</locationY>
        <actionName>Task.Follow_up_case_creation_from_task_error_message</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Task_Owner_Notification</name>
        <label>New Task Owner Notification</label>
        <locationX>1722</locationX>
        <locationY>1031</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Has_zz_create_case_cc</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewTaskOwnerNotificationEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>frmlNewTaskOwnerRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A New Task has been assigned to you: {!$Record.Subject}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PostDueDateComment</name>
        <label>PostDueDateComment</label>
        <locationX>1722</locationX>
        <locationY>695</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_Owner_changed_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}]: Your Task - {!$Record.Subject} - is soon due (Due at: {!$Record.due_at__c})!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>PostTaskComment</name>
        <label>PostTaskComment</label>
        <locationX>710</locationX>
        <locationY>3167</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>UpdateTriggeredRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>FollowUpCase.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assign_Account</name>
        <label>assign Account</label>
        <locationX>1502</locationX>
        <locationY>3719</locationY>
        <assignmentItems>
            <assignToReference>relatedAccount.Call_Attempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlCallAttempts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedAccountUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_or_Date_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_first_activity_date</name>
        <label>Assign Account first activity date</label>
        <locationX>1282</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>relatedAccount.First_activity_after_owner_change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedAccountUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_first_FollowUp_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseOwnerId_Connected_Case</name>
        <label>Assign CaseOwnerId Connected Case</label>
        <locationX>314</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>FollowUpCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlCaseOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpCase.Connected_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_follow_up_case_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseOwnerId_ConnectedCase</name>
        <label>Assign CaseOwnerId ConnectedCase</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>FollowUpCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCaseInfo.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpCase.Connected_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_follow_up_case_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseOwnerId_no_Account</name>
        <label>Assign CaseOwnerId no Account</label>
        <locationX>1898</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>FollowUpCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlCaseOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_follow_up_case_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseOwnerId_NoAccount</name>
        <label>Assign CaseOwnerId NoAccount</label>
        <locationX>1634</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>FollowUpCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.QueueIds__c.Customer_Experience_QueueId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_follow_up_case_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseOwnerId_set_Account</name>
        <label>Assign CaseOwnerId set Account</label>
        <locationX>1370</locationX>
        <locationY>2399</locationY>
        <assignmentItems>
            <assignToReference>FollowUpCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlCaseOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_follow_up_case_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseOwnerId_set_Shop</name>
        <label>Assign CaseOwnerId set Shop</label>
        <locationX>842</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>FollowUpCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlCaseOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpCase.Shop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_follow_up_case_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseOwnerId_SetAccount</name>
        <label>Assign CaseOwnerId SetAccount</label>
        <locationX>1106</locationX>
        <locationY>2399</locationY>
        <assignmentItems>
            <assignToReference>FollowUpCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountInfo.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_follow_up_case_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseOwnerId_SetShop</name>
        <label>Assign CaseOwnerId SetShop</label>
        <locationX>578</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>FollowUpCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getShopInfo.company_id__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpCase.Shop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_follow_up_case_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseRecordValues_Default</name>
        <label>Assign CaseRecordValues Default</label>
        <locationX>842</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>FollowUpCase.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01m0Y000000mvQC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpCase.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Connection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Follow_Up_w_o_Opportunity_on_related_Account</name>
        <label>Assign First Follow Up w/o Opportunity on related Account</label>
        <locationX>1282</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>relatedAccount.First_Follow_Up_w_o_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.due__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedAccountUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_zz_create_case_cc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_follow_up_case_record_type</name>
        <label>assign follow up case record type</label>
        <locationX>842</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>FollowUpCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlCaseRecordtypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_case_connected_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Follow_Up_Checkbox</name>
        <label>Assign Follow Up Checkbox</label>
        <locationX>1502</locationX>
        <locationY>4511</locationY>
        <assignmentItems>
            <assignToReference>$Record.follow_up_due_date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.follow_up_subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.follow_up_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.zz_follow_up_created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTriggeredIsUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_relatedAccountUpdated_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_relatedRecords</name>
        <label>assign relatedRecords</label>
        <locationX>1634</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>relatedAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_new_or_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateTriggeredRecord</name>
        <label>UpdateTriggeredRecord</label>
        <locationX>842</locationX>
        <locationY>3383</locationY>
        <assignmentItems>
            <assignToReference>$Record.zz_create_case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FollowUpCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTriggeredIsUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_type_logged_onboarding_call</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Call_type_logged_onboarding_call</name>
        <label>Call type logged = onboarding call?</label>
        <locationX>1634</locationX>
        <locationY>3599</locationY>
        <defaultConnector>
            <targetReference>Is_New_or_Date_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>onboarding_call</name>
            <conditionLogic>((1 AND 2) OR (2 AND 3)) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Account</targetReference>
            </connector>
            <label>onboarding call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Connection</name>
        <label>Check Connection</label>
        <locationX>842</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Check_if_AccountId_is_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connected_Case_Id_True_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCaseInfo</targetReference>
            </connector>
            <label>Connected Case Id True decision?</label>
        </rules>
        <rules>
            <name>Shop_Id_True_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getShopInfo</targetReference>
            </connector>
            <label>Shop Id True decision?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_first_FollowUp_Set</name>
        <label>Check first FollowUp Set</label>
        <locationX>1414</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Has_zz_create_case_cc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountId_is_set_for_fresh_Account_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Number_of_Opps__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.First_Follow_Up_w_o_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Playbooks_Play_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Follow_Up_w_o_Opportunity_on_related_Account</targetReference>
            </connector>
            <label>AccountId is set for fresh Account decision</label>
        </rules>
    </decisions>
    <decisions>
        <description>PB_TASK_GLOBAL_FOLLOW_UP Node 2</description>
        <name>Check_FollowUp</name>
        <label>Check FollowUp</label>
        <locationX>1634</locationX>
        <locationY>4271</locationY>
        <defaultConnector>
            <targetReference>Check_if_relatedAccountUpdated_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_Up_filled_out_decision</name>
            <conditionLogic>((1 OR 2) AND 3) AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zz_follow_up_created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.follow_up_subject__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.follow_up_type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.follow_up_due_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Follow_Up_Task</targetReference>
            </connector>
            <label>Follow Up filled out decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_AccountId_is_Set</name>
        <label>Check if AccountId is Set</label>
        <locationX>1502</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Check_if_CaseOwnerId_is_empty_NoAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountID_is_set_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountInfo</targetReference>
            </connector>
            <label>AccountID is set decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_CaseOwnerId_is_empty_ConnectedCase</name>
        <label>Check if CaseOwnerId is empty ConnectedCase</label>
        <locationX>182</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Assign_CaseOwnerId_Connected_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseOwnerId_is_Empty_connectedCase_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmlCaseOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CaseOwnerId_ConnectedCase</targetReference>
            </connector>
            <label>CaseOwnerId is Empty connectedCase decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_CaseOwnerId_is_empty_ConnectedCase_0</name>
        <label>Check if CaseOwnerId is empty ConnectedCase</label>
        <locationX>710</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Assign_CaseOwnerId_set_Shop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseOwnerId_is_Empty_connectedCase_decision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmlCaseOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CaseOwnerId_SetShop</targetReference>
            </connector>
            <label>CaseOwnerId is Empty connectedCase decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_CaseOwnerId_is_empty_NoAccount</name>
        <label>Check if CaseOwnerId is empty NoAccount</label>
        <locationX>1766</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Assign_CaseOwnerId_no_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseOwnerId_is_Empty_NoAccount_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmlCaseOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CaseOwnerId_NoAccount</targetReference>
            </connector>
            <label>CaseOwnerId is Empty NoAccount decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_CaseOwnerId_is_empty_SetAccount</name>
        <label>Check if CaseOwnerId is empty SetAccount</label>
        <locationX>1238</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>Assign_CaseOwnerId_set_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseOwnerId_is_Empty_SetAccount_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmlCaseOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CaseOwnerId_SetAccount</targetReference>
            </connector>
            <label>CaseOwnerId is Empty SetAccount decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_relatedAccountUpdated_0</name>
        <label>Check if relatedAccountUpdated?</label>
        <locationX>1634</locationX>
        <locationY>4727</locationY>
        <defaultConnector>
            <targetReference>Check_if_Triggered_Record_is_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>relatedAccount_is_updated_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedAccountUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Account</targetReference>
            </connector>
            <label>relatedAccount is updated decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_required_Post_fields_are_filled</name>
        <label>Check if required Post fields are filled</label>
        <locationX>842</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>UpdateTriggeredRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fields_are_filled_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FollowUpCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostTaskComment</targetReference>
            </connector>
            <label>fields are filled decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Triggered_Record_is_Updated</name>
        <label>Check if Triggered Record is Updated?</label>
        <locationX>1634</locationX>
        <locationY>5063</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_is_updated_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTriggeredIsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTask</targetReference>
            </connector>
            <label>record is updated decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_new_or_updated</name>
        <label>Check new or updated</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_Notification_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Updated</defaultConnectorLabel>
        <rules>
            <name>Is_New_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_other_tasks</targetReference>
            </connector>
            <label>Is New decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_task_by_Sales</name>
        <label>Check New task by Sales</label>
        <locationX>1414</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Check_first_FollowUp_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_New_task_by_Sales_decision</name>
            <conditionLogic>1 AND 2 AND 3 AND ((4 AND 5) OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Number_of_Open_Opps__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.First_activity_after_owner_change__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.is_API_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_first_activity_date</targetReference>
            </connector>
            <label>is New task by Sales decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Complete_other_tasks</name>
        <label>Complete_other_tasks</label>
        <locationX>1414</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_New_task_by_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.complete_other_tasks__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_incompleted_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_zz_create_case_cc</name>
        <label>Has zz_create_case__cc?</label>
        <locationX>1634</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Call_type_logged_onboarding_call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasCreateCase</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zz_create_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zz_create_case__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CaseRecordValues_Default</targetReference>
            </connector>
            <label>HasCreateCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_or_Date_changed</name>
        <label>Is New or Date changed</label>
        <locationX>1634</locationX>
        <locationY>3935</locationY>
        <defaultConnector>
            <targetReference>Check_FollowUp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Date_changed</name>
            <conditionLogic>((1 AND 3)  OR (2 AND 3)) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunities_close_date</targetReference>
            </connector>
            <label>New/Date changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Notification_Sent</name>
        <label>Is Notification Sent?</label>
        <locationX>1854</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Is_Owner_changed_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notification_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zz_notification_sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zz_notification_sent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostDueDateComment</targetReference>
            </connector>
            <label>Notification sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_changed_0</name>
        <label>Is Owner changed?</label>
        <locationX>1854</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Has_zz_create_case_cc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_changed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Task_Owner_Notification</targetReference>
            </connector>
            <label>Owner changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmlCallAttempts</name>
        <dataType>Number</dataType>
        <expression>IF( ISNULL({!$Record.Account.Call_Attempts__c})=true,1, {!$Record.Account.Call_Attempts__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmlCaseOwnerId</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Follow_up_case_task_for__c},
&quot;Account Management&quot;, {!$Setup.QueueIds__c.Team_Account_Management_QueueId__c},
&quot;Compliance&quot;, {!$Setup.QueueIds__c.Team_Compliance_QueueId__c},
&quot;Contract&quot;, {!$Setup.QueueIds__c.Team_Contract_QueueId__c},
&quot;Customer Success&quot;, {!$Setup.QueueIds__c.Customer_Experience_QueueId__c},
&quot;Customer Success International&quot;,{!$Setup.QueueIds__c.Customer_Success_International_QueueId__c} ,
&quot;Finance&quot;, {!$Setup.QueueIds__c.Team_Finance_QueueId__c},
&quot;Legal Customer Service&quot;, {!$Setup.QueueIds__c.Team_Legal_CSM_QueueId__c},
&quot;Legal Customer Success&quot;,{!$Setup.QueueIds__c.Team_Legal_CSM_QueueId__c} ,
&quot;Legal Service&quot;, {!$Setup.QueueIds__c.Team_Legal_CSM_QueueId__c},
&quot;Product integration&quot;, {!$Setup.QueueIds__c.Team_Product_Integration_QueueId__c},
&quot;Risk&quot;, {!$Setup.QueueIds__c.Team_Risk_QueueId__c},
null
)</expression>
    </formulas>
    <formulas>
        <name>frmlCaseRecordtypeId</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Follow_up_case_task_for__c},
&quot;Account Management&quot;, {!$Setup.CaseRecordTypes__c.Customer_Support_RecordTypeId__c},
&quot;Compliance&quot;, {!$Setup.CaseRecordTypes__c.Compliance_RecordTypeId__c},
&quot;Contract&quot;, {!$Setup.CaseRecordTypes__c.Contract_RecordTypeId__c},
&quot;Customer Success&quot;, {!$Setup.CaseRecordTypes__c.Customer_Support_RecordTypeId__c},
&quot;Customer Success International&quot;,{!$Setup.CaseRecordTypes__c.Customer_Support_RecordTypeId__c} ,
&quot;Finance&quot;, {!$Setup.CaseRecordTypes__c.Finance_RecordTypeId__c},
&quot;Legal Customer Service&quot;, {!$Setup.CaseRecordTypes__c.LegalCSM_RecordTypeID__c},
&quot;Legal Customer Success&quot;,{!$Setup.CaseRecordTypes__c.LegalCSM_RecordTypeID__c} ,
&quot;Legal Service&quot;, {!$Setup.CaseRecordTypes__c.LegalCSM_RecordTypeID__c},
&quot;Product integration&quot;,{!$Setup.CaseRecordTypes__c.Product_Integration_RecordTypeId__c},
&quot;Risk&quot;,{!$Setup.CaseRecordTypes__c.Risk_RecordTypeId__c},
null
)</expression>
    </formulas>
    <formulas>
        <name>frmlCurrentOwner</name>
        <dataType>String</dataType>
        <expression>{!IF(BEGINS($Record.OwnerId,&#39;005&#39;),$Record.Owner:User.FirstName + &quot; &quot; + $Record.Owner:User.LastName, $Record.Owner:Group.Name)}</expression>
    </formulas>
    <formulas>
        <name>frmlNewTaskOwnerRecipient</name>
        <dataType>String</dataType>
        <expression>{!IF(BEGINS($Record.OwnerId,&#39;005&#39;),$Record.Owner:User.Email, $Record.Owner:Group.Email)}</expression>
    </formulas>
    <formulas>
        <name>frmlPreviousOwner</name>
        <dataType>String</dataType>
        <expression>{!IF(BEGINS($Record__Prior.OwnerId,&#39;005&#39;),$Record__Prior.Owner:User.FirstName + &quot; &quot; + $Record__Prior.Owner:User.LastName, $Record__Prior.Owner:Group.Name)}</expression>
    </formulas>
    <formulas>
        <name>frmlRecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &#39;/services&#39;, $Api.Enterprise_Server_URL_510)) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>FLOW_TASK_AfterTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_TASK_AfterTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow Up Task</label>
        <locationX>1502</locationX>
        <locationY>4391</locationY>
        <connector>
            <targetReference>Assign_Follow_Up_Checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.follow_up_due_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Casesafe_User_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.follow_up_subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.follow_up_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>due_at__c</field>
            <value>
                <elementReference>$Record.follow_up_due_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zz_follow_up_created__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zz_follow_up_mandatory__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_case_connected_case</name>
        <label>Create new case (connected case)</label>
        <locationX>842</locationX>
        <locationY>2927</locationY>
        <connector>
            <targetReference>Check_if_required_Post_fields_are_filled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Email_Alert</targetReference>
        </faultConnector>
        <inputReference>FollowUpCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccountInfo</name>
        <label>getAccountInfo</label>
        <locationX>1238</locationX>
        <locationY>2159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_CaseOwnerId_is_empty_SetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Casesafe_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCaseInfo</name>
        <label>getCaseInfo</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_CaseOwnerId_is_empty_ConnectedCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Casesafe_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getShopInfo</name>
        <label>getShopInfo</label>
        <locationX>710</locationX>
        <locationY>2039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_CaseOwnerId_is_empty_ConnectedCase_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Casesafe_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>shop__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Opportunities_close_date</name>
        <label>Set Opportunities close date</label>
        <locationX>1502</locationX>
        <locationY>4055</locationY>
        <connector>
            <targetReference>Check_FollowUp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_incompleted_Tasks</name>
        <label>Update incompleted Tasks</label>
        <locationX>1282</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_New_task_by_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Account</name>
        <label>Update Related Account</label>
        <locationX>1502</locationX>
        <locationY>4847</locationY>
        <connector>
            <targetReference>Check_if_Triggered_Record_is_Updated</targetReference>
        </connector>
        <inputReference>relatedAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTask</name>
        <label>Update Task</label>
        <locationX>1502</locationX>
        <locationY>5183</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign_relatedRecords</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewTaskOwnerNotificationEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new task has been assigned to you!

Subject: {!$Record.Subject}
Previous Owner: {!frmlPreviousOwner}
New Owner: {!frmlCurrentOwner}
Detail Link: {!frmlRecordURL}</text>
    </textTemplates>
    <variables>
        <name>FollowUpCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RecordTriggeredIsUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>relatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>relatedAccountUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
