unpackaged/main/default/flows/FLOW_ACCOUNT_AFTER_TRIGGER.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FindContactInCollection3</name>
        <label>FindContactInCollection 3</label>
        <locationX>2778</locationX>
        <locationY>10655</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Contact_in_ContactsToUpdateCollection_3</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>ContactsToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_Contacts_3.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FindContactInCollection_1</name>
        <label>FindContactInCollection 1</label>
        <locationX>2338</locationX>
        <locationY>935</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Contact_in_ContactsToUpdateCollection_1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>ContactsToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_Contacts_1.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FindContactInCollection_2</name>
        <label>FindContactInCollection 2</label>
        <locationX>2514</locationX>
        <locationY>7271</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Contact_in_ContactsToUpdateCollection_2</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>ContactsToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_Contacts_2.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FindContactInCollection_4</name>
        <label>FindContactInCollection 4</label>
        <locationX>2404</locationX>
        <locationY>14831</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Contact_in_ContactsToUpdateCollection_4</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>ContactsToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_Contacts_4.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FindContactInCollection_5_1</name>
        <label>FindContactInCollection 5_1</label>
        <locationX>2404</locationX>
        <locationY>16631</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Contact_in_ContactsToUpdateCollection_5_1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>ContactsToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_Contacts_5.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FindContactInCollection_5_2</name>
        <label>FindContactInCollection 5_2</label>
        <locationX>2844</locationX>
        <locationY>16631</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Contact_in_ContactsToUpdateCollection_5_2</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>ContactsToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_Contacts_5.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FindContactInCollection_6</name>
        <label>FindContactInCollection 6</label>
        <locationX>2382</locationX>
        <locationY>18647</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Contact_in_ContactsToUpdateCollection_6</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>ContactsToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_Contacts_6.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FindOpportunityInCollection_1</name>
        <label>FindOpportunityInCollection 1</label>
        <locationX>2074</locationX>
        <locationY>2087</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Opportunity_in_OpportunitiesToUpdateCollection_1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>OpportunitiesToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_Opportunities_1.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FindShopInCollection_1_1</name>
        <label>FindShopInCollection 1_1</label>
        <locationX>2250</locationX>
        <locationY>8879</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Shop_in_ShopsToUpdateCollection_1_1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>shop__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>shop__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>shop__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>ShopsToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>shop__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_Shops_1.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FindShopInCollection_1_2</name>
        <label>FindShopInCollection 1_2</label>
        <locationX>2690</locationX>
        <locationY>8879</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Shop_in_ShopsToUpdateCollection_1_0_0</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>shop__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>shop__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>shop__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>ShopsToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>shop__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_Shops_1.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FindTaskInCollection_1</name>
        <label>FindTaskInCollection 1</label>
        <locationX>2382</locationX>
        <locationY>5903</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Task_in_TasksToUpdateCollection_1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>TasksToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_Tasks_1.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FindTaskInCollection_2</name>
        <label>FindTaskInCollection 2</label>
        <locationX>2206</locationX>
        <locationY>3335</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Task_in_TasksToUpdateCollection_2</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>TasksToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_non_completed_Tasks.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FindTaskInCollection_3</name>
        <label>FindTaskInCollection 3</label>
        <locationX>2250</locationX>
        <locationY>12023</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Task_in_TasksToUpdateCollection_3</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>TasksToUpdateCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_through_non_completed_Tasks_3.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_LM</name>
        <label>Notify LM</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Check_if_is_new_Legal_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>FreeTrialChatterPostText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Setup.ApiAndQueueUserIds__c.leadmanagement__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Reminder_Strategic_Partner_Invoicing_Start_Date</name>
        <label>Reminder - Strategic Partner Invoicing Start Date</label>
        <locationX>2206</locationX>
        <locationY>19991</locationY>
        <actionName>Account.Reminder_Strategic_Partner_Invoicing_Start_Date</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Subscription_end_date_is_changed_and_is_greater_than_today</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_new_Legal_Assignment_Email_Alert</name>
        <label>Send new Legal Assignment Email Alert</label>
        <locationX>2030</locationX>
        <locationY>17855</locationY>
        <actionName>Account.Email_Notification_assigment_new_legal_sales_rep</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_if_GetAllContacts_was_visited_6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TriggerZuoraDunningStopCallout</name>
        <label>TriggerZuoraDunningStopCallout</label>
        <locationX>2206</locationX>
        <locationY>19655</locationY>
        <actionName>ZuoraCalloutHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_need_to_Remind_Strategic_Partner_Manager</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lAccounts</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Contact_to_ContactsToUpdateCollection</name>
        <label>Add Contact to ContactsToUpdateCollection</label>
        <locationX>2338</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contacts_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_to_ContactsToUpdateCollection_5_1</name>
        <label>Add Contact to ContactsToUpdateCollection 5_1</label>
        <locationX>2404</locationX>
        <locationY>17207</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contacts_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_to_ContactsToUpdateCollection_5_2</name>
        <label>Add Contact to ContactsToUpdateCollection 5_2</label>
        <locationX>2844</locationX>
        <locationY>17207</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contacts_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_new_Case_to_CasesToInsertCollection</name>
        <label>Add new Case to CasesToInsertCollection</label>
        <locationX>2118</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>CasesToInsertCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>relatedCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CleanUp_relatedCase_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_to_TasksToUpdateCollection</name>
        <label>Add Task to TasksToUpdateCollection</label>
        <locationX>2206</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>TasksToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_non_completed_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_non_completed_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_to_TasksToUpdateCollection_1</name>
        <label>Add Task to TasksToUpdateCollection 1</label>
        <locationX>2382</locationX>
        <locationY>6479</locationY>
        <assignmentItems>
            <assignToReference>TasksToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Tasks_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tasks_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_to_TasksToUpdateCollection_3</name>
        <label>Add Task to TasksToUpdateCollection 3</label>
        <locationX>2250</locationX>
        <locationY>12599</locationY>
        <assignmentItems>
            <assignToReference>TasksToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_non_completed_Tasks_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_non_completed_Tasks_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_6</name>
        <label>Add to Collection 6</label>
        <locationX>2382</locationX>
        <locationY>19223</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contacts_6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Close_Status_to_open_Task</name>
        <label>assign Close Status to open Task</label>
        <locationX>2206</locationX>
        <locationY>3791</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_non_completed_Tasks.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_to_TasksToUpdateCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_to_ContactsToUpdateCollection_4</name>
        <label>Assign Contact to ContactsToUpdateCollection 4</label>
        <locationX>2404</locationX>
        <locationY>15407</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contacts_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Contact_to_ContactToUpdateCollection_0_0_0</name>
        <label>assign Contact to ContactToUpdateCollection</label>
        <locationX>2514</locationX>
        <locationY>8183</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contacts_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Is_Parent_Account_Checkbox_to_false</name>
        <label>Assign Is Parent Account Checkbox to false</label>
        <locationX>1403</locationX>
        <locationY>20879</locationY>
        <assignmentItems>
            <assignToReference>get_Parent_Account_ID_2.Is_Parent_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_former_Parent_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Is_Parent_Account_Checkbox_to_true</name>
        <label>Assign Is Parent Account Checkbox to true</label>
        <locationX>1139</locationX>
        <locationY>20879</locationY>
        <assignmentItems>
            <assignToReference>get_Parent_Account_ID.Is_Parent_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Leadqualification_dates</name>
        <label>assign Leadqualification dates</label>
        <locationX>2404</locationX>
        <locationY>15287</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_4.Qualification_date_Lead_Management__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Qualification_date_Lead_Management__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_to_ContactsToUpdateCollection_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Sales_Rep_to_Contact</name>
        <label>Assign Legal Sales Rep to Contact</label>
        <locationX>2382</locationX>
        <locationY>19103</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_6.Legal_Sales_Responsible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Legal_Sales_Responsible__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_AAI_values</name>
        <label>assign new AAI values</label>
        <locationX>490</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>newAdditionalAccountInfo.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdditionalAccountInfo.Account_SoldTo_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SoldToContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdditionalAccountInfo.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdditionalAccountInfo.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlAdditionalAccountInfoName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_is_new_Legal_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_Account_Assignment_Case_values</name>
        <label>assign new Account Assignment Case values</label>
        <locationX>2118</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>relatedCase.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01m0Y000000mvQCQAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCase.Owner_auto_assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.CaseRecordTypes__c.Customer_Support_RecordTypeId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlAccountAssignmentCaseSuject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_Case_to_CasesToInsertCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_Cancelled_Contact_Status_1_0</name>
        <label>assign new Cancelled Contact Status 1</label>
        <locationX>2514</locationX>
        <locationY>7967</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_2.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Contact_to_ContactToUpdateCollection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_Contact_to_ContactsToUpdateCollection_3_1</name>
        <label>assign new Contact to ContactsToUpdateCollection 3</label>
        <locationX>2250</locationX>
        <locationY>11351</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contacts_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_Contact_to_ContactsToUpdateCollection_3_2</name>
        <label>assign new Contact to ContactsToUpdateCollection 3</label>
        <locationX>2514</locationX>
        <locationY>11351</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contacts_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_Contact_to_ContactsToUpdateCollection_3_3</name>
        <label>assign new Contact to ContactsToUpdateCollection 3</label>
        <locationX>2778</locationX>
        <locationY>11351</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contacts_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_Contact_to_ContactsToUpdateCollection_3_4</name>
        <label>assign new Contact to ContactsToUpdateCollection 3</label>
        <locationX>3042</locationX>
        <locationY>11351</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contacts_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_Customer_recordtype</name>
        <label>assign new Customer recordtype</label>
        <locationX>2514</locationX>
        <locationY>11231</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_3.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.ContactRecordTypes__c.Customer_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_new_Contact_to_ContactsToUpdateCollection_3_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_Deprecated_Contact_Status_1_0</name>
        <label>assign new Deprecated Contact Status 1</label>
        <locationX>2250</locationX>
        <locationY>7967</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_2.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deprecated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_2.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.ContactRecordTypes__c.Obsolete_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Contact_to_ContactToUpdateCollection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_HBS_sync_timestamp_2</name>
        <label>assign new HBS sync timestamp 2</label>
        <locationX>2514</locationX>
        <locationY>7727</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_2.Last_modified_for_sync_HBS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Status_needs_to_be_deprecated_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_Owner</name>
        <label>assign new Owner</label>
        <locationX>2338</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_ContactsToUpdateCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_Prospect_recordtype</name>
        <label>assign new Prospect recordtype</label>
        <locationX>2250</locationX>
        <locationY>11231</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_3.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.ContactRecordTypes__c.Prospect_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_new_Contact_to_ContactsToUpdateCollection_3_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_recordtype</name>
        <label>assign new recordtype</label>
        <locationX>3042</locationX>
        <locationY>11231</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_3.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.ContactRecordTypes__c.Obsolete_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_new_Contact_to_ContactsToUpdateCollection_3_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_recordtype_0</name>
        <label>assign new recordtype</label>
        <locationX>2778</locationX>
        <locationY>11231</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_3.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.ContactRecordTypes__c.Trial_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_new_Contact_to_ContactsToUpdateCollection_3_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_ToOpportunitiesToUpdateCollection_1</name>
        <label>Assign Opportunity ToOpportunitiesToUpdateCollection 1</label>
        <locationX>2074</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>OpportunitiesToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Opportunities_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opportunities_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_related_AAI</name>
        <label>Assign related AAI</label>
        <locationX>1887</locationX>
        <locationY>4799</locationY>
        <assignmentItems>
            <assignToReference>relatedAdditionalAccountInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AAI_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_AAI_is_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_related_AAI_2</name>
        <label>Assign related AAI 2</label>
        <locationX>1986</locationX>
        <locationY>13367</locationY>
        <assignmentItems>
            <assignToReference>relatedAdditionalAccountInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AAI_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Account_not_already_won_back</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shop_to_ShopsToUpdateCollection_1</name>
        <label>Assign Shop to ShopsToUpdateCollection 1</label>
        <locationX>2250</locationX>
        <locationY>9455</locationY>
        <assignmentItems>
            <assignToReference>ShopsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Shops_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Shops_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shop_to_ShopsToUpdateCollection_2</name>
        <label>Assign Shop to ShopsToUpdateCollection 2</label>
        <locationX>2690</locationX>
        <locationY>9455</locationY>
        <assignmentItems>
            <assignToReference>ShopsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Shops_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Shops_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_to_Shop_1</name>
        <label>Assign Status to Shop 1</label>
        <locationX>2250</locationX>
        <locationY>9335</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Shops_1.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Shop_to_ShopsToUpdateCollection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_to_Shop_2</name>
        <label>Assign Status to Shop 2</label>
        <locationX>2690</locationX>
        <locationY>9335</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Shops_1.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deprecated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Shops_1.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.ShopRecordTypes__c.Obsolete_Shop__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Shop_to_ShopsToUpdateCollection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>independently of the outcome of the previous decision, the following loop can be done on the very same collection to reduce redundancy</description>
        <name>Assign_to_other_collection</name>
        <label>Assign to other collection</label>
        <locationX>2250</locationX>
        <locationY>6935</locationY>
        <assignmentItems>
            <assignToReference>Get_All_Contacts_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Contacts_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_single_source_Collection_for_Contacts_5</name>
        <label>assign to single source Collection for Contacts 5</label>
        <locationX>2052</locationX>
        <locationY>16175</locationY>
        <assignmentItems>
            <assignToReference>Get_All_Contacts_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Contacts_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Winback_values</name>
        <label>Assign Winback values</label>
        <locationX>1854</locationX>
        <locationY>13703</locationY>
        <assignmentItems>
            <assignToReference>relatedAdditionalAccountInfo.Winback_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedAdditionalAccountInfo.Winback_successful__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Qualification_Date_LM_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CleanUp_relatedCase_1</name>
        <label>CleanUp relatedCase 1</label>
        <locationX>2118</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>relatedCase</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Owner_changed_to_LeadManagement_or_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>close_Task</name>
        <label>close Task</label>
        <locationX>2250</locationX>
        <locationY>12479</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_non_completed_Tasks_3.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_to_TasksToUpdateCollection_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_CasesToInsertCollection</name>
        <label>Count CasesToInsertCollection</label>
        <locationX>1403</locationX>
        <locationY>22343</locationY>
        <assignmentItems>
            <assignToReference>CollectionCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CasesToInsertCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Cases_to_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_ContactsToUpdateCollection</name>
        <label>Count ContactsToUpdateCollection</label>
        <locationX>1403</locationX>
        <locationY>23255</locationY>
        <assignmentItems>
            <assignToReference>CollectionCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContactsToUpdateCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Contacts_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_ShopsToUpdateCollection</name>
        <label>Count ShopsToUpdateCollection</label>
        <locationX>1403</locationX>
        <locationY>22799</locationY>
        <assignmentItems>
            <assignToReference>CollectionCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ShopsToUpdateCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Shops_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_TasksToUpdateCollection</name>
        <label>Count TasksToUpdateCollection</label>
        <locationX>1403</locationX>
        <locationY>21887</locationY>
        <assignmentItems>
            <assignToReference>CollectionCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TasksToUpdateCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_TasksToUpdate_need_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Empty_Collections</name>
        <label>Initialize Empty Collections</label>
        <locationX>1403</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>EMPTYOpportunityCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EMPTYCaseCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EMPTYContactCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EMPTYTaskCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EMPTYShopCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasesToInsertCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunitiesToUpdateCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShopsToUpdateCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToUpdateCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_new_or_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>re_assign_to_single_source_ContactCollection</name>
        <label>re-assign to single-source ContactCollection</label>
        <locationX>2250</locationX>
        <locationY>10319</locationY>
        <assignmentItems>
            <assignToReference>Get_All_Contacts_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Contacts_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>re_assign_to_single_source_ContactCollection_0</name>
        <label>re-assign to single-source ContactCollection</label>
        <locationX>2250</locationX>
        <locationY>18311</locationY>
        <assignmentItems>
            <assignToReference>Get_All_Contacts_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Contacts_6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>re_assign_to_single_source_ContactCollection_2</name>
        <label>re-assign to single-source ContactCollection 2</label>
        <locationX>2052</locationX>
        <locationY>14375</locationY>
        <assignmentItems>
            <assignToReference>Get_All_Contacts_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Contacts_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>remove_Contact_from_ContactsToUpdateCollection</name>
        <label>remove Contact from ContactsToUpdateCollection</label>
        <locationX>2272</locationX>
        <locationY>15071</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindContactInCollection_4.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContactInCollection_4.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Leadqualification_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Contact_from_ContactsToUpdateCollection_1</name>
        <label>Remove Contact from ContactsToUpdateCollection 1</label>
        <locationX>2206</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindContactInCollection_1.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContactInCollection_1.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_new_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Contact_from_ContactsToUpdateCollection_2</name>
        <label>Remove Contact from ContactsToUpdateCollection 2</label>
        <locationX>2382</locationX>
        <locationY>7511</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindContactInCollection_2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContactInCollection_2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_new_HBS_sync_timestamp_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Contact_from_ContactsToUpdateCollection_3</name>
        <label>Remove Contact from ContactsToUpdateCollection 3</label>
        <locationX>2646</locationX>
        <locationY>10895</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindContactInCollection3.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContactInCollection3.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_RecordType_value_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Contact_from_ContactsToUpdateCollection_3_0</name>
        <label>Remove Contact from ContactsToUpdateCollection 3</label>
        <locationX>2250</locationX>
        <locationY>18887</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindContactInCollection_6.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContactInCollection_6.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Legal_Sales_Rep_to_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>remove_Contact_from_ContactsToUpdateCollection_5_1</name>
        <label>remove Contact from ContactsToUpdateCollection 5_1</label>
        <locationX>2272</locationX>
        <locationY>16871</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindContactInCollection_5_1.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContactInCollection_5_1.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_retention_Contact_flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>remove_Contact_from_ContactsToUpdateCollection_5_2</name>
        <label>remove Contact from ContactsToUpdateCollection 5_2</label>
        <locationX>2712</locationX>
        <locationY>16871</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindContactInCollection_5_2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContactInCollection_5_2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_retention_Contact_flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_OpportunityRecord_from_OpprtunitiesToUpdateCollection_1</name>
        <label>Remove OpportunityRecord from OpprtunitiesToUpdateCollection 1</label>
        <locationX>1942</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>OpportunitiesToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindOpportunityInCollection_1.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Opportunities_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindOpportunityInCollection_1.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Owner_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_retention_Contact_flag</name>
        <label>Remove retention Contact flag</label>
        <locationX>2844</locationX>
        <locationY>17087</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_5.is_Retention_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_ContactsToUpdateCollection_5_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Shop_from_ShopsToUpdateCollection_1_0</name>
        <label>Remove Shop from ShopsToUpdateCollection 1</label>
        <locationX>2118</locationX>
        <locationY>9119</locationY>
        <assignmentItems>
            <assignToReference>ShopsToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindShopInCollection_1_1.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Shops_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindShopInCollection_1_1.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Status_to_Shop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Shop_from_ShopsToUpdateCollection_1_0_0</name>
        <label>Remove Shop from ShopsToUpdateCollection 1</label>
        <locationX>2558</locationX>
        <locationY>9119</locationY>
        <assignmentItems>
            <assignToReference>ShopsToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindShopInCollection_1_2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Shops_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindShopInCollection_1_2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Status_to_Shop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Task_from_TasksToUpdateCollection_1</name>
        <label>Remove Task from TasksToUpdateCollection 1</label>
        <locationX>2250</locationX>
        <locationY>6143</locationY>
        <assignmentItems>
            <assignToReference>TasksToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindTaskInCollection_1.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Tasks_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindTaskInCollection_1.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_Status_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Task_from_TasksToUpdateCollection_2</name>
        <label>Remove Task from TasksToUpdateCollection 2</label>
        <locationX>2074</locationX>
        <locationY>3575</locationY>
        <assignmentItems>
            <assignToReference>TasksToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindTaskInCollection_2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_non_completed_Tasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindTaskInCollection_2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Close_Status_to_open_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Task_from_TasksToUpdateCollection_3</name>
        <label>Remove Task from TasksToUpdateCollection 3</label>
        <locationX>2118</locationX>
        <locationY>12263</locationY>
        <assignmentItems>
            <assignToReference>TasksToUpdateCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindTaskInCollection_3.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_non_completed_Tasks_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_non_completed_Tasks_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>close_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Winback_values</name>
        <label>Reset Winback values</label>
        <locationX>2118</locationX>
        <locationY>13703</locationY>
        <assignmentItems>
            <assignToReference>relatedAdditionalAccountInfo.Winback_date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedAdditionalAccountInfo.Winback_successful__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Qualification_Date_LM_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_retention_Contact_flag</name>
        <label>Set retention Contact flag</label>
        <locationX>2404</locationX>
        <locationY>17087</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts_5.is_Retention_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_ContactsToUpdateCollection_5_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_AAI_SoldToContact</name>
        <label>update AAI SoldToContact</label>
        <locationX>2041</locationX>
        <locationY>5231</locationY>
        <assignmentItems>
            <assignToReference>relatedAdditionalAccountInfo.Account_SoldTo_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SoldToContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Status_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Account_Type</name>
        <label>update Account Type</label>
        <locationX>336</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LEGAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecordUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Parent_Account_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Owner_0</name>
        <label>Update Opportunity Owner</label>
        <locationX>2074</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Opportunities_1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_ToOpportunitiesToUpdateCollection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Status_1</name>
        <label>Update Task Status 1</label>
        <locationX>2382</locationX>
        <locationY>6359</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Tasks_1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_to_TasksToUpdateCollection_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Shops_if_cancelled_or_deprecated</name>
        <label>Check for Shops if cancelled or deprecated</label>
        <locationX>2162</locationX>
        <locationY>8399</locationY>
        <defaultConnector>
            <targetReference>Check_if_RecordType_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_has_been_cancelled_or_deprecated_decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deprecated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Shops_1</targetReference>
            </connector>
            <label>Account has been cancelled or deprecated decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_AAI_found</name>
        <label>Check if AAI found</label>
        <locationX>2019</locationX>
        <locationY>4679</locationY>
        <defaultConnector>
            <targetReference>Check_if_AAI_is_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AAI_found_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AAI_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_related_AAI</targetReference>
            </connector>
            <label>AAI found decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_AAI_is_set</name>
        <label>Check if AAI is set</label>
        <locationX>2173</locationX>
        <locationY>5111</locationY>
        <defaultConnector>
            <targetReference>Check_if_Status_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AAI_is_set_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AAI_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_AAI_SoldToContact</targetReference>
            </connector>
            <label>AAI is set decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_AAI_needs_to_be_created</name>
        <label>Check if AAI needs to be created</label>
        <locationX>1403</locationX>
        <locationY>21551</locationY>
        <defaultConnector>
            <targetReference>Count_TasksToUpdateCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AAI_needs_to_be_created_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newAdditionalAccountInfo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_AAI</targetReference>
            </connector>
            <label>AAI needs to be created decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_AAI_needs_to_be_updated</name>
        <label>Check if AAI needs to be updated</label>
        <locationX>1403</locationX>
        <locationY>21215</locationY>
        <defaultConnector>
            <targetReference>Check_if_AAI_needs_to_be_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AAI_needs_to_be_updated_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedAdditionalAccountInfo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AAI</targetReference>
            </connector>
            <label>AAI needs to be updated decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_not_already_won_back</name>
        <label>Check if Account not already won back</label>
        <locationX>2118</locationX>
        <locationY>13583</locationY>
        <defaultConnector>
            <targetReference>Check_if_Qualification_Date_LM_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_not_already_won_back_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Effective_Date_of_Termination__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Additional_Account_Infos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>relatedAdditionalAccountInfo.Winback_successful__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Winback_values</targetReference>
            </connector>
            <label>Account not already won back decision</label>
        </rules>
        <rules>
            <name>Account_win_back_reset_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Effective_Date_of_Termination__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Additional_Account_Infos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>relatedAdditionalAccountInfo.Winback_successful__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Winback_values</targetReference>
            </connector>
            <label>Account win back reset decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Cases_to_Insert</name>
        <label>Check if Cases to Insert</label>
        <locationX>1403</locationX>
        <locationY>22463</locationY>
        <defaultConnector>
            <targetReference>Count_ShopsToUpdateCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cases_to_Insert_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_CasesToInsertCollection</targetReference>
            </connector>
            <label>Cases to Insert decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_in_ContactsToUpdateCollection_1</name>
        <label>Check if Contact in ContactsToUpdateCollection 1</label>
        <locationX>2338</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>assign_new_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_already_in_ContactsToUpdateCollection_decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContactInCollection_1.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Contact_from_ContactsToUpdateCollection_1</targetReference>
            </connector>
            <label>Contact already in ContactsToUpdateCollection decision 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_in_ContactsToUpdateCollection_2</name>
        <label>Check if Contact in ContactsToUpdateCollection 2</label>
        <locationX>2514</locationX>
        <locationY>7391</locationY>
        <defaultConnector>
            <targetReference>assign_new_HBS_sync_timestamp_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_already_in_ContactsToUpdateCollection_decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContactInCollection_2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Contact_from_ContactsToUpdateCollection_2</targetReference>
            </connector>
            <label>Contact already in ContactsToUpdateCollection decision 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_in_ContactsToUpdateCollection_3</name>
        <label>Check if Contact in ContactsToUpdateCollection 3</label>
        <locationX>2778</locationX>
        <locationY>10775</locationY>
        <defaultConnector>
            <targetReference>Check_RecordType_value_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_already_in_ContactsToUpdateCollection_decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContactInCollection3.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Contact_from_ContactsToUpdateCollection_3</targetReference>
            </connector>
            <label>Contact already in ContactsToUpdateCollection decision 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_in_ContactsToUpdateCollection_4</name>
        <label>Check if Contact in ContactsToUpdateCollection 4</label>
        <locationX>2404</locationX>
        <locationY>14951</locationY>
        <defaultConnector>
            <targetReference>assign_Leadqualification_dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_in_ContactsToUpdateCollection_decision_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContactInCollection_4.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Contacts_4.Qualification_date_Lead_Management__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Qualification_date_Lead_Management__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>remove_Contact_from_ContactsToUpdateCollection</targetReference>
            </connector>
            <label>Contact in ContactsToUpdateCollection decision 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_in_ContactsToUpdateCollection_5_1</name>
        <label>Check if Contact in ContactsToUpdateCollection 5_1</label>
        <locationX>2404</locationX>
        <locationY>16751</locationY>
        <defaultConnector>
            <targetReference>Set_retention_Contact_flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_already_in_ContactsToUpdateCollection_5_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContactInCollection_5_1.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>remove_Contact_from_ContactsToUpdateCollection_5_1</targetReference>
            </connector>
            <label>Contact already in ContactsToUpdateCollection 5_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_in_ContactsToUpdateCollection_5_2</name>
        <label>Check if Contact in ContactsToUpdateCollection 5_2</label>
        <locationX>2844</locationX>
        <locationY>16751</locationY>
        <defaultConnector>
            <targetReference>Remove_retention_Contact_flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_already_in_ContactsToUpdateCollection_5_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContactInCollection_5_1.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>remove_Contact_from_ContactsToUpdateCollection_5_2</targetReference>
            </connector>
            <label>Contact already in ContactsToUpdateCollection 5_2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_in_ContactsToUpdateCollection_6</name>
        <label>Check if Contact in ContactsToUpdateCollection 6</label>
        <locationX>2382</locationX>
        <locationY>18767</locationY>
        <defaultConnector>
            <targetReference>Assign_Legal_Sales_Rep_to_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_already_in_ContactsToUpdateCollection_decision_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContactInCollection_6.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Contact_from_ContactsToUpdateCollection_3_0</targetReference>
            </connector>
            <label>Contact already in ContactsToUpdateCollection decision 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contacts_to_update</name>
        <label>Check if Contacts to update</label>
        <locationX>1403</locationX>
        <locationY>23375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contacts_to_update_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contacts</targetReference>
            </connector>
            <label>Contacts to update decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Dunningstop_set</name>
        <label>Check if Dunningstop set</label>
        <locationX>2338</locationX>
        <locationY>19535</locationY>
        <defaultConnector>
            <targetReference>Check_if_need_to_Remind_Strategic_Partner_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dunningstop_set_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dunning_stop_Zuora__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dunning_stop_Zuora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.is_API_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TriggerZuoraDunningStopCallout</targetReference>
            </connector>
            <label>Dunningstop set decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Effective_Date_of_Termination_changed</name>
        <label>Check if Effective Date  of Termination changed</label>
        <locationX>2338</locationX>
        <locationY>13007</locationY>
        <defaultConnector>
            <targetReference>Check_if_Qualification_Date_LM_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Effective_Date_of_Termination_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Effective_Date_of_Termination__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_relatedAdditionalAccountInfo_Record_is_null</targetReference>
            </connector>
            <label>Effective Date of Termination changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Get_All_Contacts_was_visited</name>
        <label>Check if Get All Contacts was visited</label>
        <locationX>2162</locationX>
        <locationY>6695</locationY>
        <defaultConnector>
            <targetReference>Get_All_Contacts_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_All_Contacts_was_visited_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Contacts_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_Contacts_1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EMPTYContactCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Contacts_2</targetReference>
            </connector>
            <label>Get All Contacts was visited decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Get_All_Contacts_was_visited_4</name>
        <label>Check if Get All Contacts was visited 4</label>
        <locationX>2184</locationX>
        <locationY>14135</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Contacts_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_All_Contacts_was_not_visited_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Contacts_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Contacts_4</targetReference>
            </connector>
            <label>Get All Contacts was not visited 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Get_All_Contacts_was_visited_5</name>
        <label>Check if Get All Contacts was visited 5</label>
        <locationX>2184</locationX>
        <locationY>15935</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Contacts_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_All_Contacts_was_not_visited_decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Contacts_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Contacts_5</targetReference>
            </connector>
            <label>Get All Contacts was not visited decision 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_GetAllContacts_was_visited2</name>
        <label>Check if GetAllContacts was visited 2</label>
        <locationX>2162</locationX>
        <locationY>10079</locationY>
        <defaultConnector>
            <targetReference>Get_All_Contacts_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GetAllContacts_was_visited_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Contacts_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Contacts_3</targetReference>
            </connector>
            <label>GetAllContacts was visited 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_GetAllContacts_was_visited_6</name>
        <label>Check if GetAllContacts was visited 6</label>
        <locationX>2162</locationX>
        <locationY>18071</locationY>
        <defaultConnector>
            <targetReference>Get_All_Contacts_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GetAllContacts_was_visited_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Contacts_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Contacts_6</targetReference>
            </connector>
            <label>GetAllContacts was visited 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Is_FreeTrial_FR</name>
        <label>Check if Is FreeTrial FR</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_if_is_new_Legal_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_FreeTrial_FR_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Trial__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_LM</targetReference>
            </connector>
            <label>Is FreeTrial FR decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_is_new_Legal_Account</name>
        <label>Check if is new Legal Account</label>
        <locationX>468</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>is_Parent_Account_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_new_Legal_Account_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Account_Type</targetReference>
            </connector>
            <label>is new Legal Account decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_is_Retention_Contact</name>
        <label>Check if is Retention Contact</label>
        <locationX>2778</locationX>
        <locationY>16511</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Contacts_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_new_Retention_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Contacts_5.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Retention_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Contacts_5.is_Retention_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindContactInCollection_5_1</targetReference>
            </connector>
            <label>is new Retention Contact</label>
        </rules>
        <rules>
            <name>is_old_Retention_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Contacts_5.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Retention_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Contacts_5.is_Retention_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindContactInCollection_5_2</targetReference>
            </connector>
            <label>is old Retention Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_need_to_Remind_Strategic_Partner_Manager</name>
        <label>Check if need to Remind Strategic Partner Manager</label>
        <locationX>2338</locationX>
        <locationY>19871</locationY>
        <defaultConnector>
            <targetReference>Is_Subscription_end_date_is_changed_and_is_greater_than_today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>need_to_Remind_Strategic_Partner_Manager_decision</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Partner__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Strategic partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_Strategic_Partner_Invoicing_Start_Date</targetReference>
            </connector>
            <label>need to Remind Strategic Partner Manager decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_new_assignment_Legal_Sales_Rep</name>
        <label>Check if new assignment Legal Sales Rep</label>
        <locationX>2338</locationX>
        <locationY>17615</locationY>
        <defaultConnector>
            <targetReference>Check_if_Dunningstop_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>newly_assigned_Legal_Sales_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal_Sales_Responsible__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Legal_Sales_Rep</targetReference>
            </connector>
            <label>newly assigned Legal Sales Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_new_or_updated</name>
        <label>Check if new or updated</label>
        <locationX>1403</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Check_if_Owner_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_new_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RecordType</targetReference>
            </connector>
            <label>is new decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opportunity_in_OpportunitiesToUpdateCollection_1</name>
        <label>Check if Opportunity in OpportunitiesToUpdateCollection 1</label>
        <locationX>2074</locationX>
        <locationY>2207</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Owner_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_already_in_OpportunitiesToUpdateCollection_decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindOpportunityInCollection_1.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OpportunityRecord_from_OpprtunitiesToUpdateCollection_1</targetReference>
            </connector>
            <label>Opportunity already in OpportunitiesToUpdateCollection decision 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Owner_changed</name>
        <label>Check if Owner changed</label>
        <locationX>2338</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_if_SoldToContact_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_changed_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Contacts_1</targetReference>
            </connector>
            <label>Owner is changed decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Owner_changed_by_RecordType</name>
        <label>Check if Owner changed by RecordType</label>
        <locationX>2118</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Check_if_Owner_changed_to_LeadManagement_or_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_changed_on_Prospect_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Prospect__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Open_Opps</targetReference>
            </connector>
            <label>Owner changed on Prospect decision</label>
        </rules>
        <rules>
            <name>Owner_changed_on_Customer_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Customer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.isQueueUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System_Administrators</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Legal CX Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_new_Account_Assignment_Case_values</targetReference>
            </connector>
            <label>Owner changed on Customer decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Owner_changed_to_LeadManagement_or_Partner</name>
        <label>Check if Owner changed to LeadManagement or Partner</label>
        <locationX>2118</locationX>
        <locationY>2975</locationY>
        <defaultConnector>
            <targetReference>Check_if_SoldToContact_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_changed_to_LeadManagement_or_Partner_decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.ApiAndQueueUserIds__c.leadmanagement__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.ApiAndQueueUserIds__c.partnermanagement__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Non_Completed_Tasks_1</targetReference>
            </connector>
            <label>Owner changed to LeadManagement or Partner decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Qualification_Date_LM_changed</name>
        <label>Check if Qualification Date LM changed</label>
        <locationX>2338</locationX>
        <locationY>14015</locationY>
        <defaultConnector>
            <targetReference>Check_if_retention_Contact_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualification_Date_LM_changed_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Qualification_date_Lead_Management__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Get_All_Contacts_was_visited_4</targetReference>
            </connector>
            <label>Qualification Date LM changed decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Record_became_customer</name>
        <label>Check if Record became customer</label>
        <locationX>2162</locationX>
        <locationY>11663</locationY>
        <defaultConnector>
            <targetReference>Check_if_Effective_Date_of_Termination_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_became_customer_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Customer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Prospect__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Non_Completed_Tasks_3</targetReference>
            </connector>
            <label>Record became customer decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_RecordType_Changed</name>
        <label>Check if RecordType Changed</label>
        <locationX>2338</locationX>
        <locationY>9959</locationY>
        <defaultConnector>
            <targetReference>Check_if_Effective_Date_of_Termination_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordType_Changed_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_GetAllContacts_was_visited2</targetReference>
            </connector>
            <label>RecordType Changed decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_relatedAdditionalAccountInfo_is_null</name>
        <label>Check if relatedAdditionalAccountInfo is null</label>
        <locationX>2173</locationX>
        <locationY>4439</locationY>
        <defaultConnector>
            <targetReference>Check_if_AAI_is_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>relatedAdditionalAccountInfo_is_null_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedAdditionalAccountInfo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AAI_1</targetReference>
            </connector>
            <label>relatedAdditionalAccountInfo is null decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_relatedAdditionalAccountInfo_Record_is_null</name>
        <label>Check if relatedAdditionalAccountInfo Record is null</label>
        <locationX>2118</locationX>
        <locationY>13127</locationY>
        <defaultConnector>
            <targetReference>Check_if_Account_not_already_won_back</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>relatedAdditionalAccountInfo_Record_is_null_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedAdditionalAccountInfo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AAI_2</targetReference>
            </connector>
            <label>relatedAdditionalAccountInfo Record is null decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_retention_Contact_changed</name>
        <label>Check if retention Contact changed</label>
        <locationX>2338</locationX>
        <locationY>15815</locationY>
        <defaultConnector>
            <targetReference>Check_if_new_assignment_Legal_Sales_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>retention_Contact_is_changed_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retention_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Retention_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Get_All_Contacts_was_visited_5</targetReference>
            </connector>
            <label>retention Contact is changed decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Shop_in_ShopsToUpdateCollection_1_0_0</name>
        <label>Check if Shop in ShopsToUpdateCollection 1</label>
        <locationX>2690</locationX>
        <locationY>8999</locationY>
        <defaultConnector>
            <targetReference>Assign_Status_to_Shop_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shop_already_in_ShopsToUpdateCollection_1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindShopInCollection_1_2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Shop_from_ShopsToUpdateCollection_1_0_0</targetReference>
            </connector>
            <label>Shop already in ShopsToUpdateCollection 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Shop_in_ShopsToUpdateCollection_1_1</name>
        <label>Check if Shop in ShopsToUpdateCollection 1_1</label>
        <locationX>2250</locationX>
        <locationY>8999</locationY>
        <defaultConnector>
            <targetReference>Assign_Status_to_Shop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shop_already_in_ShopsToUpdateCollection_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindShopInCollection_1_1.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Shop_from_ShopsToUpdateCollection_1_0</targetReference>
            </connector>
            <label>Shop already in ShopsToUpdateCollection 1_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Shops_to_update</name>
        <label>Check if Shops to update</label>
        <locationX>1403</locationX>
        <locationY>22919</locationY>
        <defaultConnector>
            <targetReference>Count_ContactsToUpdateCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shops_to_update_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ShopsToUpdateCollection</targetReference>
            </connector>
            <label>Shops to update decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_SoldToContact_changed</name>
        <label>Check if SoldToContact changed</label>
        <locationX>2338</locationX>
        <locationY>4319</locationY>
        <defaultConnector>
            <targetReference>Check_if_Status_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SoldToContact_changed_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SoldToContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SoldToContact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Customer__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_relatedAdditionalAccountInfo_is_null</targetReference>
            </connector>
            <label>SoldToContact changed decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_changed</name>
        <label>Check if Status changed</label>
        <locationX>2338</locationX>
        <locationY>5543</locationY>
        <defaultConnector>
            <targetReference>Check_if_RecordType_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_changed_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Open_Tasks</targetReference>
            </connector>
            <label>Status changed decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_needs_to_be_deprecated_2_0</name>
        <label>Check if Status needs to be deprecated 2</label>
        <locationX>2514</locationX>
        <locationY>7847</locationY>
        <defaultConnector>
            <targetReference>assign_Contact_to_ContactToUpdateCollection_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_needs_to_be_deprecated_decision_2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deprecated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Contacts_2.IsCommunityPartner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Contacts_2.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hardbounce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_new_Deprecated_Contact_Status_1_0</targetReference>
            </connector>
            <label>Status needs to be deprecated decision 2</label>
        </rules>
        <rules>
            <name>Status_needs_to_be_cancelled_decision_2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Contacts_2.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hardbounce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_new_Cancelled_Contact_Status_1_0</targetReference>
            </connector>
            <label>Status needs to be cancelled decision 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Task_in_TasksToUpdateCollection_1</name>
        <label>Check if Task in TasksToUpdateCollection 1</label>
        <locationX>2382</locationX>
        <locationY>6023</locationY>
        <defaultConnector>
            <targetReference>Update_Task_Status_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_already_in_TasksToUpdateCollection_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindTaskInCollection_1.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Task_from_TasksToUpdateCollection_1</targetReference>
            </connector>
            <label>Task already in TasksToUpdateCollection 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Task_in_TasksToUpdateCollection_2</name>
        <label>Check if Task in TasksToUpdateCollection 2</label>
        <locationX>2206</locationX>
        <locationY>3455</locationY>
        <defaultConnector>
            <targetReference>assign_Close_Status_to_open_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_already_in_TasksToUpdateCollection_decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindTaskInCollection_2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Task_from_TasksToUpdateCollection_2</targetReference>
            </connector>
            <label>Task already in TasksToUpdateCollection decision 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Task_in_TasksToUpdateCollection_3</name>
        <label>Check if Task in TasksToUpdateCollection 3</label>
        <locationX>2250</locationX>
        <locationY>12143</locationY>
        <defaultConnector>
            <targetReference>close_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_already_in_TasksToUpdateCollection_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindTaskInCollection_3.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Task_from_TasksToUpdateCollection_3</targetReference>
            </connector>
            <label>Task already in TasksToUpdateCollection 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_TasksToUpdate_need_Update</name>
        <label>Check if TasksToUpdate need Update</label>
        <locationX>1403</locationX>
        <locationY>22007</locationY>
        <defaultConnector>
            <targetReference>Count_CasesToInsertCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TasksToUpdate_need_Update_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TasksToUpdateCollection</targetReference>
            </connector>
            <label>TasksToUpdate need Update decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Legal_Sales_Rep</name>
        <label>Check Legal Sales Rep</label>
        <locationX>2162</locationX>
        <locationY>17735</locationY>
        <defaultConnector>
            <targetReference>Check_if_GetAllContacts_was_visited_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Legal_Sales_Manager_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal_Sales_Responsible__r.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Partner__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal_Sales_Responsible__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_new_Legal_Assignment_Email_Alert</targetReference>
            </connector>
            <label>Has Legal Sales Manager Profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Qualification_Dates</name>
        <label>Check Qualification Dates</label>
        <locationX>2558</locationX>
        <locationY>14711</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Contacts_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualification_Dates_differ_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Contacts_4.Qualification_date_Lead_Management__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Qualification_date_Lead_Management__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindContactInCollection_4</targetReference>
            </connector>
            <label>Qualification Dates differ decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType</name>
        <label>Check RecordType</label>
        <locationX>468</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_if_is_new_Legal_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_free_Trial_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Trial__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Is_FreeTrial_FR</targetReference>
            </connector>
            <label>is free Trial decision</label>
        </rules>
        <rules>
            <name>is_customer_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Customer__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_new_AAI_values</targetReference>
            </connector>
            <label>is customer decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType_value_1</name>
        <label>Check RecordType value 1</label>
        <locationX>2778</locationX>
        <locationY>11111</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Contacts_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordType_changed_to_prospect_decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Prospect__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Contacts_3.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.ContactRecordTypes__c.Prospect_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_new_Prospect_recordtype</targetReference>
            </connector>
            <label>RecordType changed to prospect decision 1</label>
        </rules>
        <rules>
            <name>RecordType_changed_to_customer_decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Customer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Contacts_3.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.ContactRecordTypes__c.Customer_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_new_Customer_recordtype</targetReference>
            </connector>
            <label>RecordType changed to customer decision 1</label>
        </rules>
        <rules>
            <name>RecordType_changed_to_trial_decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Trial__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Contacts_3.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.ContactRecordTypes__c.Trial_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_new_recordtype_0</targetReference>
            </connector>
            <label>RecordType changed to trial decision 1</label>
        </rules>
        <rules>
            <name>RecordType_changed_to_obsolete_decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AccountRecordTypes__c.Obsolete__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Contacts_3.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.ContactRecordTypes__c.Obsolete_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_new_recordtype</targetReference>
            </connector>
            <label>RecordType changed to obsolete decision 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_value_1_0</name>
        <label>Check Status value 1</label>
        <locationX>2624</locationX>
        <locationY>8759</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Shops_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_cancelled_decision_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindShopInCollection_1_1</targetReference>
            </connector>
            <label>Status is cancelled decision 1</label>
        </rules>
        <rules>
            <name>Status_is_deprecated_decision_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deprecated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindShopInCollection_1_2</targetReference>
            </connector>
            <label>Status is deprecated decision 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Parent_Account_Decision</name>
        <label>Has Parent Account Decision</label>
        <locationX>1403</locationX>
        <locationY>20639</locationY>
        <defaultConnector>
            <targetReference>Check_if_AAI_needs_to_be_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Parent_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Parent_Account_ID</targetReference>
            </connector>
            <label>has Parent Account</label>
        </rules>
        <rules>
            <name>No_Parent_Account_anymore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Parent_Account_ID_2</targetReference>
            </connector>
            <label>No Parent Account anymore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Subscription_end_date_is_changed_and_is_greater_than_today</name>
        <label>Is Subscription end date is changed and is greater than today</label>
        <locationX>2338</locationX>
        <locationY>20207</locationY>
        <defaultConnector>
            <targetReference>is_Parent_Account_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Subscription_end_date_is_changed_and_is_greater_than_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription_End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription_End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Subscription_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_the_Renewal_Talks_Status_to_not_contacted</targetReference>
            </connector>
            <label>True_ Subscription end date is changed and is greater than today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmlAccountAssignmentCaseSuject</name>
        <dataType>String</dataType>
        <expression>&quot;Account &quot; &amp; {!$Record.customer_number__c} &amp; &quot; has been assigned to you!&quot;</expression>
    </formulas>
    <formulas>
        <name>frmlAdditionalAccountInfoName</name>
        <dataType>String</dataType>
        <expression>&quot;Additional Account Info for: &quot; + LEFT({!$Record.Name}, 51)</expression>
    </formulas>
    <interviewLabel>FLOW_ACCOUNT_AFTER_TRIGGER {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_ACCOUNT_AFTER_TRIGGER</label>
    <loops>
        <name>Loop_through_Contacts_1</name>
        <label>Loop through Contacts 1</label>
        <locationX>2118</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_All_Contacts_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FindContactInCollection_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Owner_changed_by_RecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Contacts_2</name>
        <label>Loop through Contacts 2</label>
        <locationX>2162</locationX>
        <locationY>7151</locationY>
        <collectionReference>Get_All_Contacts_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FindContactInCollection_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Shops_if_cancelled_or_deprecated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Contacts_3</name>
        <label>Loop through Contacts 3</label>
        <locationX>2162</locationX>
        <locationY>10535</locationY>
        <collectionReference>Get_All_Contacts_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FindContactInCollection3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Record_became_customer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Contacts_4</name>
        <label>Loop through Contacts 4</label>
        <locationX>2184</locationX>
        <locationY>14591</locationY>
        <collectionReference>Get_All_Contacts_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Qualification_Dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_retention_Contact_changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Contacts_5</name>
        <label>Loop through Contacts 5</label>
        <locationX>2184</locationX>
        <locationY>16391</locationY>
        <collectionReference>Get_All_Contacts_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_is_Retention_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_new_assignment_Legal_Sales_Rep</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Contacts_6</name>
        <label>Loop through Contacts 6</label>
        <locationX>2162</locationX>
        <locationY>18527</locationY>
        <collectionReference>Get_All_Contacts_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FindContactInCollection_6</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Dunningstop_set</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_non_completed_Tasks</name>
        <label>Loop through non-completed Tasks</label>
        <locationX>1986</locationX>
        <locationY>3215</locationY>
        <collectionReference>Get_All_Non_Completed_Tasks_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FindTaskInCollection_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_SoldToContact_changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_non_completed_Tasks_3</name>
        <label>Loop through non-completed Tasks 3</label>
        <locationX>2030</locationX>
        <locationY>11903</locationY>
        <collectionReference>Get_All_Non_Completed_Tasks_3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FindTaskInCollection_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Effective_Date_of_Termination_changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Opportunities_1</name>
        <label>Loop through Opportunities 1</label>
        <locationX>1854</locationX>
        <locationY>1967</locationY>
        <collectionReference>Get_All_Open_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FindOpportunityInCollection_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Owner_changed_to_LeadManagement_or_Partner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Shops_1</name>
        <label>Loop through Shops 1</label>
        <locationX>2030</locationX>
        <locationY>8639</locationY>
        <collectionReference>Get_All_Shops_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status_value_1_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_RecordType_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tasks_1</name>
        <label>Loop through Tasks 1</label>
        <locationX>2162</locationX>
        <locationY>5783</locationY>
        <collectionReference>Get_All_Open_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FindTaskInCollection_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Get_All_Contacts_was_visited</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_AAI</name>
        <label>Insert AAI</label>
        <locationX>1271</locationX>
        <locationY>21671</locationY>
        <connector>
            <targetReference>Count_TasksToUpdateCollection</targetReference>
        </connector>
        <inputReference>newAdditionalAccountInfo</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_CasesToInsertCollection</name>
        <label>Insert CasesToInsertCollection</label>
        <locationX>1271</locationX>
        <locationY>22583</locationY>
        <connector>
            <targetReference>Count_ShopsToUpdateCollection</targetReference>
        </connector>
        <inputReference>CasesToInsertCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AAI_1</name>
        <label>Get AAI 1</label>
        <locationX>2019</locationX>
        <locationY>4559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_AAI_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Additional_Account_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AAI_2</name>
        <label>Get AAI 2</label>
        <locationX>1986</locationX>
        <locationY>13247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_related_AAI_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Additional_Account_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contacts_1</name>
        <label>Get All Contacts 1</label>
        <locationX>2118</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contacts_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contacts_2</name>
        <label>Get All Contacts 2</label>
        <locationX>2250</locationX>
        <locationY>6815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_other_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contacts_3</name>
        <label>Get All Contacts 3</label>
        <locationX>2250</locationX>
        <locationY>10199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>re_assign_to_single_source_ContactCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contacts_4</name>
        <label>Get All Contacts 4</label>
        <locationX>2052</locationX>
        <locationY>14255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>re_assign_to_single_source_ContactCollection_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contacts_5</name>
        <label>Get All Contacts 5</label>
        <locationX>2052</locationX>
        <locationY>16055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_to_single_source_Collection_for_Contacts_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contacts_6</name>
        <label>Get All Contacts 6</label>
        <locationX>2250</locationX>
        <locationY>18191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>re_assign_to_single_source_ContactCollection_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Non_Completed_Tasks_1</name>
        <label>Get All Non-Completed Tasks 1</label>
        <locationX>1986</locationX>
        <locationY>3095</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_non_completed_Tasks</targetReference>
        </connector>
        <filterLogic>(1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Non_Completed_Tasks_3</name>
        <label>Get All Non-Completed Tasks 3</label>
        <locationX>2030</locationX>
        <locationY>11783</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_non_completed_Tasks_3</targetReference>
        </connector>
        <filterLogic>(1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Open_Opps</name>
        <label>Get All Open Opps</label>
        <locationX>1854</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Opportunities_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Open_Tasks</name>
        <label>Get All Open Tasks</label>
        <locationX>2162</locationX>
        <locationY>5663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tasks_1</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Shops_1</name>
        <label>Get All Shops 1</label>
        <locationX>2030</locationX>
        <locationY>8519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Shops_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>company_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>shop__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Parent_Account_ID</name>
        <label>get Parent Account ID</label>
        <locationX>1139</locationX>
        <locationY>20759</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Is_Parent_Account_Checkbox_to_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Parent_Account_ID_2</name>
        <label>get Parent Account ID</label>
        <locationX>1403</locationX>
        <locationY>20759</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Is_Parent_Account_Checkbox_to_false</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_the_Renewal_Talks_Status_to_not_contacted</name>
        <label>Reset the Renewal Talks Status to &quot;not contacted&quot;</label>
        <locationX>2206</locationX>
        <locationY>20327</locationY>
        <connector>
            <targetReference>is_Parent_Account_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Renewal_Talks_Status__c</field>
            <value>
                <stringValue>Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AAI</name>
        <label>Update AAI</label>
        <locationX>1271</locationX>
        <locationY>21335</locationY>
        <connector>
            <targetReference>Check_if_AAI_needs_to_be_created</targetReference>
        </connector>
        <inputReference>relatedAdditionalAccountInfo</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>1271</locationX>
        <locationY>23495</locationY>
        <inputReference>ContactsToUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_former_Parent_Account</name>
        <label>Update former Parent Account</label>
        <locationX>1403</locationX>
        <locationY>20999</locationY>
        <connector>
            <targetReference>Check_if_AAI_needs_to_be_updated</targetReference>
        </connector>
        <inputReference>get_Parent_Account_ID_2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Account</name>
        <label>Update Parent Account</label>
        <locationX>1139</locationX>
        <locationY>20999</locationY>
        <connector>
            <targetReference>Check_if_AAI_needs_to_be_updated</targetReference>
        </connector>
        <inputReference>get_Parent_Account_ID</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ShopsToUpdateCollection</name>
        <label>Update ShopsToUpdateCollection</label>
        <locationX>1271</locationX>
        <locationY>23039</locationY>
        <connector>
            <targetReference>Count_ContactsToUpdateCollection</targetReference>
        </connector>
        <inputReference>ShopsToUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TasksToUpdateCollection</name>
        <label>Update TasksToUpdateCollection</label>
        <locationX>1271</locationX>
        <locationY>22127</locationY>
        <connector>
            <targetReference>Count_CasesToInsertCollection</targetReference>
        </connector>
        <inputReference>TasksToUpdateCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>1277</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_Empty_Collections</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FreeTrialChatterPostText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>FREE TRIAL:&lt;br/&gt;
------------------&lt;br/&gt;
Name: {!$Record.Name}&lt;br/&gt;
CompanyName__c: {!$Record.CompanyName__c}&lt;br/&gt;
CreatedDate: {!$Record.CreatedDate}</text>
    </textTemplates>
    <variables>
        <name>CasesToInsertCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CollectionCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContactsToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentRecordUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EMPTYCaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>EMPTYContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EMPTYOpportunityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>EMPTYShopCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>shop__c</objectType>
    </variables>
    <variables>
        <name>EMPTYTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>newAdditionalAccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Additional_Account_Info__c</objectType>
    </variables>
    <variables>
        <name>OpportunitiesToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>relatedAdditionalAccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Additional_Account_Info__c</objectType>
    </variables>
    <variables>
        <name>relatedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>relatedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ShopsToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>shop__c</objectType>
    </variables>
    <variables>
        <name>TasksToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
