unpackaged/main/default/flows/SCREENFLOW_Case_CreateRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post_In_Case</name>
        <label>Chatter Post In Case</label>
        <locationX>916</locationX>
        <locationY>2714</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ToastAction</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Chatter_post_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ToastAction</name>
        <label>Toast Action</label>
        <locationX>1048</locationX>
        <locationY>2906</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Case has been created! See {url}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>sticky</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLink</name>
            <value>
                <elementReference>FRML_Case_Link</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLabel</name>
            <value>
                <elementReference>Case.Subject</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Case_Values_on_Account_Record</name>
        <label>Assign Case Values on Account Record</label>
        <locationX>1048</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Description_value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FRML_Owner_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_new_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_ShopId</name>
        <label>Assign Default ShopId</label>
        <locationX>138</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Case.Shop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Single_Shop_Item_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Single_Shop_Item_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_ShopRecords</name>
        <label>Assign Number of Shop Records</label>
        <locationX>158</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>NumberOfShopRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetShopsForAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Single_Shop_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prefilled_Account_Values</name>
        <label>Assign Prefilled Account Values</label>
        <locationX>158</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetShopsForAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prefilled_Case_Values</name>
        <label>Assign Prefilled Case Values</label>
        <locationX>442</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Shop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Shop__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Account.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Flow_Button</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prefilled_Contact_Values</name>
        <label>Assign Prefilled Contact Values</label>
        <locationX>706</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Account.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Flow_Button</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prefilled_Shop_Values</name>
        <label>Assign Prefilled Shop Values</label>
        <locationX>1674</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shop.agency__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shop.agency__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Shop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shop.contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Flow_Button</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prefilled_Task_Values</name>
        <label>Assign Prefilled Task Values</label>
        <locationX>1234</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Account.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Case_Exists1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prefilled_Task_Values1</name>
        <label>Assign Prefilled Task Values</label>
        <locationX>970</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Account.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Case_Exists1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prefilled_Task_Values2</name>
        <label>Assign Prefilled Task Values</label>
        <locationX>1102</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Account.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Flow_Button</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Profile_IDs</name>
        <label>Assign Profile IDs</label>
        <locationX>1136</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ProfileIDTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Profiles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Profiles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Name</name>
        <label>Assign Queue Name</label>
        <locationX>1136</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>CaseQueueTextIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Queue_Collection.QueueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queue_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AccountManagement</name>
        <choiceText>Account Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FRML_Account_Manager</elementReference>
        </value>
    </choices>
    <choices>
        <name>AssignToMeChoice</name>
        <choiceText>Assign to Me</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AssignToQueueChoice</name>
        <choiceText>Assign to Queue</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AssignToSomeOneElseChoice</name>
        <choiceText>Assign to Someone else</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Attempting_Contact</name>
        <choiceText>Attempting Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attempting Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consumer_Services_Audit_Compliance_Guarantee_Reviews_Risk</name>
        <choiceText>Consumer Services (Audit, Compliance, Guarantee, Reviews, Risk)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consumer Services (Audit, Compliance, Guarantee, Reviews, Risk)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contract_Finance_Questions</name>
        <choiceText>Contract / Finance Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Contract / Finance Questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>CSM</name>
        <choiceText>Customer Success Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AccountOwnerId</elementReference>
        </value>
    </choices>
    <choices>
        <name>Current_UserId_Choice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.FirstName} {!$User.LastName}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>General_Inquiries</name>
        <choiceText>General Inquiries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Inquiries</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal_Services</name>
        <choiceText>Legal Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multilanguage_Manual_Integration_Other_Shopsytems</name>
        <choiceText>Multilanguage Manual Integration Other Shopsytems</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multilanguage Manual Integration Other Shopsytems </stringValue>
        </value>
    </choices>
    <choices>
        <name>Multilanguage_Manual_Integration_Shopify</name>
        <choiceText>Multilanguage Manual Integration Shopify</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multilanguage Manual Integration Shopify</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multilanguage_Manual_Integration_WooCommerce</name>
        <choiceText>Multilanguage Manual Integration WooCommerce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multilanguage Manual Integration WooCommerce</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Task</name>
        <choiceText>No Task</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Task</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_interested</name>
        <choiceText>Not interested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not interested</stringValue>
        </value>
    </choices>
    <choices>
        <name>Onboarding_Customer_Objectives</name>
        <choiceText>Onboarding/ Customer Objectives</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onboarding/ Customer Objectives</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prestashop_1_6_1_24</name>
        <choiceText>Prestashop &lt;1.6.1.24</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prestashop &lt;1.6.1.24</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_usage_questions</name>
        <choiceText>Product/usage questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product/usage questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Success_Checks</name>
        <choiceText>Success Checks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Success Checks</stringValue>
        </value>
    </choices>
    <choices>
        <name>Successful_Call</name>
        <choiceText>Successful Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Successful Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technical_Issues</name>
        <choiceText>Technical Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upsell_Lift_Downgrade</name>
        <choiceText>Upsell/Lift/Downgrade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upsell/Lift/Downgrade</stringValue>
        </value>
    </choices>
    <choices>
        <name>Winback</name>
        <choiceText>Winback</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Winback</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wrong_IVR_option</name>
        <choiceText>Wrong IVR option</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wrong IVR option</stringValue>
        </value>
    </choices>
    <choices>
        <name>XP_Feedback</name>
        <choiceText>XP Feedback</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>XP Feedback</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yearly_Customer_Meeting_Business_Check</name>
        <choiceText>Yearly Customer Meeting / Business Check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yearly Customer Meeting / Business Check</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Single_Shop_Account</name>
        <label>Check for Single Shop Account</label>
        <locationX>158</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Create_Case_Flow_Button</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Single_Shop_Account_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfShopRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Single_Shop_Item_Collection</targetReference>
            </connector>
            <label>Is Single Shop Account decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_or_Contact</name>
        <label>Check if Account or Contact</label>
        <locationX>1234</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Check_if_Case_Exists1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Account_or_Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Prefilled_Task_Values1</targetReference>
            </connector>
            <label>Check if Account Exists</label>
        </rules>
        <rules>
            <name>Check_if_Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Prefilled_Task_Values</targetReference>
            </connector>
            <label>Check if Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_Exists1</name>
        <label>Check if Case Exists</label>
        <locationX>1234</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Create_Case_Flow_Button</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Prefilled_Task_Values2</targetReference>
            </connector>
            <label>Case exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_the_description_is_filled</name>
        <label>Check If the description is filled</label>
        <locationX>1048</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>ToastAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Description_is_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Description_value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Post_In_Case</targetReference>
            </connector>
            <label>Description is filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordId</name>
        <label>Check RecordId</label>
        <locationX>1048</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Create_Case_Flow_Button</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Source_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account Source Record</label>
        </rules>
        <rules>
            <name>Case_Source_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Case Source Record</label>
        </rules>
        <rules>
            <name>Contact_Source_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact Source Record</label>
        </rules>
        <rules>
            <name>Task_Source_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task</targetReference>
            </connector>
            <label>Task Source Record</label>
        </rules>
        <rules>
            <name>Shop_Source_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shop</targetReference>
            </connector>
            <label>Shop Source Record</label>
        </rules>
    </decisions>
    <description>Create a new case using Create Case button</description>
    <dynamicChoiceSets>
        <name>Queue_choice_set_collection</name>
        <collectionReference>Group_Collection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserCollection</name>
        <collectionReference>Get_Users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Case_subject</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Case_Subject_value})), {!Case_Subject_value}, 
IF( {!Call_back_Required} = TRUE, 
    &quot;Callback Required-&quot;, &quot;&quot;) 
+

    TEXT({!Case.Reason})
)</expression>
    </formulas>
    <formulas>
        <name>FRML_Account_Manager</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Case.Account.Account_Manager__c} != null, {!Get_Case.Account.Account_Manager__c},{!$Setup.QueueIds__c.Team_Account_Management_QueueId__c})</expression>
    </formulas>
    <formulas>
        <name>FRML_Case_Link</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340})) &amp; {!Case.Id}</expression>
    </formulas>
    <formulas>
        <name>FRML_Owner_Id</name>
        <dataType>String</dataType>
        <expression>CASE({!OwnerRadioChoiceSelection},
0,{!$User.Casesafe_User_ID__c},
1,{!Target_User.selectedChoiceValues},
2,{!Target_Queue.selectedChoiceValues},
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>FRML_Single_Shop</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!Case.Shop__c})),
  {!Case.Shop__r.Name},
  NULL
)</expression>
    </formulas>
    <interviewLabel>Create Case Button Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCREENFLOW_Case_CreateRecord</label>
    <loops>
        <name>Loop_Queue_Collection</name>
        <label>Loop Queue Collection</label>
        <locationX>1048</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Queues_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Queue_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Group_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Single_Shop_Item_Collection</name>
        <label>Loop Single Shop Item Collection</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <collectionReference>GetShopsForAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Default_ShopId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Flow_Button</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Profiles</name>
        <label>Loop Through Profiles</label>
        <locationX>1048</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Profiles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Profile_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_new_case</name>
        <label>Create a New Case</label>
        <locationX>1048</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>Check_If_the_description_is_filled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>158</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Prefilled_Account_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Manager__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>442</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Prefilled_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>706</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Prefilled_Contact_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profiles</name>
        <label>Get Profiles</label>
        <locationX>1048</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Profiles</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CX Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Customer Success Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Technical Success Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Account Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queues_Collection</name>
        <label>Get Queues Collection</label>
        <locationX>1048</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Queue_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QueueSobject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shop</name>
        <label>Get Shop</label>
        <locationX>1674</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Prefilled_Shop_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>shop__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>1234</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_or_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>1048</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queues_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>In</operator>
            <value>
                <elementReference>ProfileIDTextCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShopsForAccount</name>
        <label>Get Shops For Account</label>
        <locationX>158</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_ShopRecords</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>company_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.ShopRecordTypes__c.Customer_Shop__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>valid_to__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>valid_to__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>shop__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Group_Collection</name>
        <label>Group Collection</label>
        <locationX>1048</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_RecordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CaseQueueTextIdCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Case_Flow_Button</name>
        <label>Create Case Flow Button</label>
        <locationX>1048</locationX>
        <locationY>2282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assign_Case_Values_on_Account_Record</targetReference>
        </connector>
        <fields>
            <name>Create_Case_Flow_Button_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Case_Flow_Button_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OwnerRadioChoiceSelection</name>
                    <choiceReferences>AssignToMeChoice</choiceReferences>
                    <choiceReferences>AssignToSomeOneElseChoice</choiceReferences>
                    <choiceReferences>AssignToQueueChoice</choiceReferences>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Select Owner</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Case_Flow_Button_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Target_User</name>
                    <choiceReferences>CSM</choiceReferences>
                    <choiceReferences>AccountManagement</choiceReferences>
                    <choiceReferences>UserCollection</choiceReferences>
                    <choiceReferences>Current_UserId_Choice</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Target User</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OwnerRadioChoiceSelection</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Target_Queue</name>
                    <choiceReferences>Queue_choice_set_collection</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Target Queue</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OwnerRadioChoiceSelection</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>2.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Case_Flow_Button_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Case_Flow_Button_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.Reason</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Case_Flow_Button_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Description_value</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OwnerRadioChoiceSelection</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OptionalUpdatesToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> Adjust Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>optional adjustments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>no adjustments</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Additional_Updates</name>
            <fieldText>Optional</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Updates_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.ContactId</objectFieldReference>
                </fields>
                <fields>
                    <name>Case_Subject_value</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Updates_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.Shop__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NumberOfShopRecords</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Call_back_Required</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Callback Required</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;used in Default Subject&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OptionalUpdatesToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2114</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Please contact the administrator. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>922</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Profiles</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Chatter_post_body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The additional description for the case is: 
{!Case_Description_value}</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AccountManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseQueueTextIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Casesubjecttext_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfShopRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProfileIDTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>