unpackaged/main/default/flows/SCREENFLOW_Account_AcountLinkUp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_Opp_to_collection</name>
        <label>add Opp to collection</label>
        <locationX>879</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>OppUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddLegacyAccountToCollection</name>
        <label>AddLegacyAccountToCollection</label>
        <locationX>1112</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>AccountsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objLegacyAcc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAllLegacyContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCollection</name>
        <label>AddToCollection</label>
        <locationX>451</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>ShopUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objPrimaryShop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Primary_Shops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_legCase_to_Collection</name>
        <label>Assign legCase to Collection</label>
        <locationX>1283</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>legCasesToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>legCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_AccId</name>
        <label>Assign new AccId</label>
        <locationX>1774</locationX>
        <locationY>986</locationY>
        <assignmentItems>
            <assignToReference>objContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignContactToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_AccId_values</name>
        <label>assign new AccId values</label>
        <locationX>884</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>OpportunityObj.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactID_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Contact</name>
        <label>Assign new Contact</label>
        <locationX>570</locationX>
        <locationY>1112</locationY>
        <assignmentItems>
            <assignToReference>OpportunityObj.contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objPrimaryContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Primary_Contacts2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Primary_Account</name>
        <label>Assign new Primary Account</label>
        <locationX>1273</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>legCases.Primary_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_legCase_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Account_to_Collection</name>
        <label>Assign Primary Account to Collection</label>
        <locationX>1119</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference>AccountsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objPrimaryAcc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shop_Information_to_be_copied</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccValues</name>
        <label>AssignAccValues</label>
        <locationX>1301</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.AccountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.AccountSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.AnnualRevenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Callback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.Callback__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.contact_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.contact_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Inbound_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.Inbound_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Last_assignment_to_sales_rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.Last_assignment_to_sales_rep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.migration_run__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.migration_run__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.MQL_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.MQL_contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Outbound_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.Outbound_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Previous_owner_main__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.Previous_owner_main__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Qualification_date_Lead_Management__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.Qualification_date_Lead_Management__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.TS_website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.TS_website__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Prospect_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.Prospect_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.First_activity_after_owner_change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyAcc.First_activity_after_owner_change__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Founding_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlFoundingDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Share_Capital__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlShareCapital</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Industry_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlIndustryRisk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Security__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlSecurity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Security_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlSecurityAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Insolvency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlInsolvency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Insolvency_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlInsolvencyDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Financial_Situation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlFinancialSituation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.SRM_Special_Risk_Management__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlSRM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Under_Monitoring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlUnderMonitoring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Under_Monitoring_since__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlUnderMonitoringSince</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Reason_for_Monitoring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlReasonForMonitoring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Issued_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlIssuedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Valid_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlValidDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Residual_Debt_Discharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlResidualDebtDischarge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryAcc.Insolvency_Reference_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmlInsolvencyReferenceNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Primary_Account_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBalanceSheetToCollection</name>
        <label>AssignBalanceSheetToCollection</label>
        <locationX>1356</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>BalanceSheetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughBalanceSheets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughBalanceSheets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactToCollection</name>
        <label>AssignContactToCollection</label>
        <locationX>1629</locationX>
        <locationY>987</locationY>
        <assignmentItems>
            <assignToReference>ContactUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Legacy_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCreditAgencyToCollection</name>
        <label>AssignCreditAgencyToCollection</label>
        <locationX>1361</locationX>
        <locationY>1941</locationY>
        <assignmentItems>
            <assignToReference>CreditAgencyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughCreditAgencies</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughCreditAgencies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPrimaryAcc</name>
        <label>AssignPrimaryAcc</label>
        <locationX>944</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>objLegacyAcc.Primary_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objLegacyAcc.status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deprecated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLegacyAccountToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPrimaryAccount</name>
        <label>AssignRiskCheckToCollection</label>
        <locationX>1345</locationX>
        <locationY>1361</locationY>
        <assignmentItems>
            <assignToReference>RiskCheckCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughRiskChecks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughRiskChecks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPrimaryAccountBalanceSheet</name>
        <label>AssignPrimaryAccountBalanceSheet</label>
        <locationX>1359</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>LoopThroughBalanceSheets.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objPrimaryAcc.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignBalanceSheetToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPrimaryAccountCreditAgency</name>
        <label>AssignPrimaryAccountCreditAgency</label>
        <locationX>1364</locationX>
        <locationY>1788</locationY>
        <assignmentItems>
            <assignToReference>LoopThroughCreditAgencies.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objPrimaryAcc.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignCreditAgencyToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPrimaryAccountRiskCheck</name>
        <label>AssignPrimaryAccountRiskCheck</label>
        <locationX>1345</locationX>
        <locationY>1230</locationY>
        <assignmentItems>
            <assignToReference>LoopThroughRiskChecks.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objPrimaryAcc.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPrimaryAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValues</name>
        <label>AssignValues</label>
        <locationX>451</locationX>
        <locationY>851</locationY>
        <assignmentItems>
            <assignToReference>objPrimaryShop.agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyShop.agency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryShop.alexa_rank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyShop.alexa_rank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryShop.facebook_likes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyShop.facebook_likes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryShop.google_adwords__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyShop.google_adwords__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryShop.google_pages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyShop.google_pages__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryShop.important_information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyShop.important_information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryShop.normed_url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyShop.normed_url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryShop.payment_gateways__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyShop.payment_gateways__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryShop.publishes_newsletter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyShop.publishes_newsletter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryShop.shop_industries__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyShop.shop_industries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryShop.sistrix_rank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyShop.sistrix_rank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPrimaryShop.shopsoftware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLegacyShop.shopsoftware__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Match_found</name>
        <label>Match found</label>
        <locationX>2323</locationX>
        <locationY>795</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Primary_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Counter</name>
        <label>Reset Counter</label>
        <locationX>1825</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Primary_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_match_found</name>
        <label>Contact match found</label>
        <locationX>2319</locationX>
        <locationY>577</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Primary_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contact_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objLegacyContact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objPrimaryContact.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objLegacyContact.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objPrimaryContact.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objLegacyContact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objPrimaryContact.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_found</targetReference>
            </connector>
            <label>contact match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_on_Legacy_Acc</name>
        <label>Contact on Legacy Acc</label>
        <locationX>574</locationX>
        <locationY>893</locationY>
        <defaultConnector>
            <targetReference>add_Opp_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>on_legacy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OppContact.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objLegacyAcc.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Primary_Contacts2</targetReference>
            </connector>
            <label>on legacy</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactID_null</name>
        <label>ContactID != null?</label>
        <locationX>723</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>Get_OppContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityObj.contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_Opp_to_collection</targetReference>
            </connector>
            <label>no contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>MatchCounter_0</name>
        <label>MatchCounter = 0</label>
        <locationX>1986</locationX>
        <locationY>980</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Legacy_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactMatchCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_AccId</targetReference>
            </connector>
            <label>is 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppContact_Match</name>
        <label>OppContact Match</label>
        <locationX>320</locationX>
        <locationY>1060</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Primary_Contacts2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OppContact_Match_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OppContact.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objPrimaryContact.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OppContact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objPrimaryContact.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OppContact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objPrimaryContact.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Contact</targetReference>
            </connector>
            <label>OppContact Match found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shop_Information_to_be_copied</name>
        <label>Shop Information to be copied?</label>
        <locationX>936</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>AssignPrimaryAcc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_ShopInfo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_Legacy_Shop_Information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllLegacyShops</targetReference>
            </connector>
            <label>Copy ShopInfo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shops_match</name>
        <label>Shops match?</label>
        <locationX>50</locationX>
        <locationY>608</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Primary_Shops</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shopmatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objLegacyShop.url__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objPrimaryShop.url__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objLegacyShop.language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objPrimaryShop.language__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objLegacyShop.target_market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objPrimaryShop.target_market__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValues</targetReference>
            </connector>
            <label>Shopmatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transfer_Contacts</name>
        <label>Transfer Contacts?</label>
        <locationX>1622</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>GetAllOpps_from_LegacyAcc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_valid_Contacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Legacy_Contacts</targetReference>
            </connector>
            <label>transfer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountList</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>strCurrAccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>New_Primary_Account</elementReference>
            </value>
        </filters>
        <filters>
            <field>status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deprecated</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmlFinancialSituation</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!objPrimaryAcc.Financial_Situation__c}), {!objLegacyAcc.Financial_Situation__c},{!objPrimaryAcc.Financial_Situation__c} )</expression>
    </formulas>
    <formulas>
        <name>frmlFoundingDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!objPrimaryAcc.Founding_Date__c}), {!objLegacyAcc.Founding_Date__c},{!objPrimaryAcc.Founding_Date__c} )</expression>
    </formulas>
    <formulas>
        <name>frmlGroup</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!objPrimaryAcc.Group__c}), {!objLegacyAcc.Group__c},{!objPrimaryAcc.Group__c} )</expression>
    </formulas>
    <formulas>
        <name>frmlIndustryRisk</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!objPrimaryAcc.Industry_Risk__c})), TEXT({!objLegacyAcc.Industry_Risk__c}),TEXT({!objPrimaryAcc.Industry_Risk__c}) )</expression>
    </formulas>
    <formulas>
        <name>frmlInsolvency</name>
        <dataType>Boolean</dataType>
        <expression>IF({!objPrimaryAcc.Insolvency__c}=false, {!objLegacyAcc.Insolvency__c},{!objPrimaryAcc.Insolvency__c} )</expression>
    </formulas>
    <formulas>
        <name>frmlInsolvencyDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!objPrimaryAcc.Insolvency_Date__c}), {!objLegacyAcc.Insolvency_Date__c},{!objPrimaryAcc.Insolvency_Date__c} )</expression>
    </formulas>
    <formulas>
        <name>frmlInsolvencyReferenceNumber</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!objPrimaryAcc.Insolvency_Reference_Number__c}), {!objLegacyAcc.Insolvency_Reference_Number__c},{!objPrimaryAcc.Insolvency_Reference_Number__c} )</expression>
    </formulas>
    <formulas>
        <name>frmlIssuedDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!objPrimaryAcc.Issued_Date__c}), {!objLegacyAcc.Issued_Date__c},{!objPrimaryAcc.Issued_Date__c} )</expression>
    </formulas>
    <formulas>
        <name>frmlReasonForMonitoring</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!objPrimaryAcc.Reason_for_Monitoring__c})), TEXT({!objLegacyAcc.Reason_for_Monitoring__c}),TEXT({!objPrimaryAcc.Reason_for_Monitoring__c}) )</expression>
    </formulas>
    <formulas>
        <name>frmlResidualDebtDischarge</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!objPrimaryAcc.Residual_Debt_Discharge__c}), {!objLegacyAcc.Residual_Debt_Discharge__c},{!objPrimaryAcc.Residual_Debt_Discharge__c} )</expression>
    </formulas>
    <formulas>
        <name>frmlSecurity</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!objPrimaryAcc.Security__c})), TEXT({!objLegacyAcc.Security__c}),TEXT({!objPrimaryAcc.Security__c}) )</expression>
    </formulas>
    <formulas>
        <name>frmlSecurityAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!objPrimaryAcc.Security_Amount__c}), {!objLegacyAcc.Security_Amount__c},{!objPrimaryAcc.Security_Amount__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmlShareCapital</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!objPrimaryAcc.Share_Capital__c}), {!objLegacyAcc.Share_Capital__c},{!objPrimaryAcc.Share_Capital__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmlSRM</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!objPrimaryAcc.SRM_Special_Risk_Management__c})), TEXT({!objLegacyAcc.SRM_Special_Risk_Management__c}),TEXT({!objPrimaryAcc.SRM_Special_Risk_Management__c}) )</expression>
    </formulas>
    <formulas>
        <name>frmlUnderMonitoring</name>
        <dataType>Boolean</dataType>
        <expression>IF({!objPrimaryAcc.Under_Monitoring__c}= false, {!objLegacyAcc.Under_Monitoring__c},{!objPrimaryAcc.Under_Monitoring__c} )</expression>
    </formulas>
    <formulas>
        <name>frmlUnderMonitoringSince</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!objPrimaryAcc.Under_Monitoring_since__c}), {!objLegacyAcc.Under_Monitoring_since__c},{!objPrimaryAcc.Under_Monitoring_since__c} )</expression>
    </formulas>
    <formulas>
        <name>frmlValidDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!objPrimaryAcc.Valid_Date__c}), {!objLegacyAcc.Valid_Date__c},{!objPrimaryAcc.Valid_Date__c} )</expression>
    </formulas>
    <interviewLabel>SCREENFLOW_Account_AcountLinkUp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCREENFLOW_Account_AcountLinkUp</label>
    <loops>
        <name>Loop_through_Cases</name>
        <label>Loop through Cases</label>
        <locationX>1171</locationX>
        <locationY>1007</locationY>
        <assignNextValueToReference>legCases</assignNextValueToReference>
        <collectionReference>Get_All_Cases_from_LegAcc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_Primary_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_legCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Legacy_Contacts</name>
        <label>Loop Through Legacy Contacts</label>
        <locationX>1629</locationX>
        <locationY>790</locationY>
        <assignNextValueToReference>objLegacyContact</assignNextValueToReference>
        <collectionReference>LegacyContactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateLegacyContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Legacy_Shops</name>
        <label>Loop through Legacy Shops</label>
        <locationX>585</locationX>
        <locationY>598</locationY>
        <assignNextValueToReference>objLegacyShop</assignNextValueToReference>
        <collectionReference>LegacyShopsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_Primary_Shops</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePrimaryShop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Opps</name>
        <label>Loop through Opps</label>
        <locationX>1043</locationX>
        <locationY>780</locationY>
        <assignNextValueToReference>OpportunityObj</assignNextValueToReference>
        <collectionReference>GetAllOpps_from_LegacyAcc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_new_AccId_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Cases_from_LegAcc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Primary_Contacts</name>
        <label>Loop through Primary Contacts</label>
        <locationX>1995</locationX>
        <locationY>710</locationY>
        <assignNextValueToReference>objPrimaryContact</assignNextValueToReference>
        <collectionReference>PrimaryContactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_match_found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MatchCounter_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Primary_Contacts2</name>
        <label>Loop through Primary Contacts2</label>
        <locationX>831</locationX>
        <locationY>1052</locationY>
        <assignNextValueToReference>objPrimaryContact</assignNextValueToReference>
        <collectionReference>PrimaryContactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OppContact_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>add_Opp_to_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Primary_Shops</name>
        <label>Loop through Primary Shops</label>
        <locationX>292</locationX>
        <locationY>597</locationY>
        <assignNextValueToReference>objPrimaryShop</assignNextValueToReference>
        <collectionReference>PrimaryShopsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Shops_match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Legacy_Shops</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughBalanceSheets</name>
        <label>LoopThroughBalanceSheets</label>
        <locationX>1203</locationX>
        <locationY>1551</locationY>
        <collectionReference>GetBalanceSheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignPrimaryAccountBalanceSheet</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateBalanceSheets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughCreditAgencies</name>
        <label>LoopThroughCreditAgencies</label>
        <locationX>1212</locationX>
        <locationY>1856</locationY>
        <collectionReference>GetCreditAgencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignPrimaryAccountCreditAgency</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCreditAgencies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughRiskChecks</name>
        <label>LoopThroughRiskChecks</label>
        <locationX>1195</locationX>
        <locationY>1288</locationY>
        <collectionReference>GetRiskChecks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignPrimaryAccountRiskCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRiskChecks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Cases_from_LegAcc</name>
        <label>Get All Cases from LegAcc</label>
        <locationX>1047</locationX>
        <locationY>936</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objLegacyAcc.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OppContact</name>
        <label>Get OppContact</label>
        <locationX>582</locationX>
        <locationY>726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_on_Legacy_Acc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityObj.contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllLegacyContacts</name>
        <label>GetAllLegacyContacts</label>
        <locationX>1243</locationX>
        <locationY>601</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllPrimaryContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCurrAccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deprecated</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>LegacyContactCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>LastName</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetAllLegacyShops</name>
        <label>GetAllLegacyShops</label>
        <locationX>726</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllPrimaryAccShops</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deprecated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>company_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCurrAccId</elementReference>
            </value>
        </filters>
        <object>shop__c</object>
        <outputReference>LegacyShopsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>agency__c</queriedFields>
        <queriedFields>alexa_rank__c</queriedFields>
        <queriedFields>facebook_likes__c</queriedFields>
        <queriedFields>google_adwords__c</queriedFields>
        <queriedFields>google_pages__c</queriedFields>
        <queriedFields>important_information__c</queriedFields>
        <queriedFields>normed_url__c</queriedFields>
        <queriedFields>payment_gateways__c</queriedFields>
        <queriedFields>publishes_newsletter__c</queriedFields>
        <queriedFields>shop_industries__c</queriedFields>
        <queriedFields>sistrix_rank__c</queriedFields>
        <queriedFields>Core_Url__c</queriedFields>
        <queriedFields>shopsoftware__c</queriedFields>
        <queriedFields>language__c</queriedFields>
        <queriedFields>target_market__c</queriedFields>
        <queriedFields>url__c</queriedFields>
        <sortField>Core_Url__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetAllOpps_from_LegacyAcc</name>
        <label>GetAllOpps from LegacyAcc</label>
        <locationX>1305</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objLegacyAcc.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllPrimaryAccShops</name>
        <label>GetAllPrimaryAccShops</label>
        <locationX>586</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Legacy_Shops</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>company_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </filters>
        <object>shop__c</object>
        <outputReference>PrimaryShopsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>agency__c</queriedFields>
        <queriedFields>alexa_rank__c</queriedFields>
        <queriedFields>facebook_likes__c</queriedFields>
        <queriedFields>google_adwords__c</queriedFields>
        <queriedFields>google_pages__c</queriedFields>
        <queriedFields>important_information__c</queriedFields>
        <queriedFields>normed_url__c</queriedFields>
        <queriedFields>payment_gateways__c</queriedFields>
        <queriedFields>publishes_newsletter__c</queriedFields>
        <queriedFields>shop_industries__c</queriedFields>
        <queriedFields>sistrix_rank__c</queriedFields>
        <queriedFields>Core_Url__c</queriedFields>
        <queriedFields>shopsoftware__c</queriedFields>
        <queriedFields>language__c</queriedFields>
        <queriedFields>target_market__c</queriedFields>
        <queriedFields>url__c</queriedFields>
        <sortField>Core_Url__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetAllPrimaryContacts</name>
        <label>GetAllPrimaryContacts</label>
        <locationX>1398</locationX>
        <locationY>601</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>PrimaryContactCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>LastName</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetBalanceSheets</name>
        <label>GetBalanceSheets</label>
        <locationX>1047</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughBalanceSheets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objLegacyAcc.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Balance_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCreditAgencies</name>
        <label>GetCreditAgencies</label>
        <locationX>1053</locationX>
        <locationY>1788</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughCreditAgencies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objLegacyAcc.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Credit_Agency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLegacyAcc</name>
        <label>GetLegacyAcc</label>
        <locationX>798</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPrimaryAcc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCurrAccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objLegacyAcc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountSource</queriedFields>
        <queriedFields>AnnualRevenue</queriedFields>
        <queriedFields>Callback__c</queriedFields>
        <queriedFields>contact_type__c</queriedFields>
        <queriedFields>Inbound_Type__c</queriedFields>
        <queriedFields>Last_assignment_to_sales_rep__c</queriedFields>
        <queriedFields>migration_run__c</queriedFields>
        <queriedFields>MQL_contact__c</queriedFields>
        <queriedFields>Outbound_type__c</queriedFields>
        <queriedFields>Previous_owner_main__c</queriedFields>
        <queriedFields>Qualification_date_Lead_Management__c</queriedFields>
        <queriedFields>source__c</queriedFields>
        <queriedFields>TS_website__c</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>status__c</queriedFields>
        <queriedFields>Prospect_Type__c</queriedFields>
        <queriedFields>First_activity_after_owner_change__c</queriedFields>
        <queriedFields>Founding_Date__c</queriedFields>
        <queriedFields>Share_Capital__c</queriedFields>
        <queriedFields>Group__c</queriedFields>
        <queriedFields>Industry_Risk__c</queriedFields>
        <queriedFields>Security__c</queriedFields>
        <queriedFields>Security_Amount__c</queriedFields>
        <queriedFields>Insolvency__c</queriedFields>
        <queriedFields>Insolvency_Date__c</queriedFields>
        <queriedFields>Financial_Situation__c</queriedFields>
        <queriedFields>SRM_Special_Risk_Management__c</queriedFields>
        <queriedFields>Under_Monitoring__c</queriedFields>
        <queriedFields>Under_Monitoring_since__c</queriedFields>
        <queriedFields>Reason_for_Monitoring__c</queriedFields>
        <queriedFields>Issued_Date__c</queriedFields>
        <queriedFields>Valid_Date__c</queriedFields>
        <queriedFields>Residual_Debt_Discharge__c</queriedFields>
        <queriedFields>Insolvency_Reference_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPrimaryAcc</name>
        <label>GetPrimaryAcc</label>
        <locationX>1301</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignAccValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objPrimaryAcc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountSource</queriedFields>
        <queriedFields>AnnualRevenue</queriedFields>
        <queriedFields>Callback__c</queriedFields>
        <queriedFields>contact_type__c</queriedFields>
        <queriedFields>Inbound_Type__c</queriedFields>
        <queriedFields>Last_assignment_to_sales_rep__c</queriedFields>
        <queriedFields>migration_run__c</queriedFields>
        <queriedFields>MQL_contact__c</queriedFields>
        <queriedFields>Outbound_type__c</queriedFields>
        <queriedFields>Previous_owner_main__c</queriedFields>
        <queriedFields>Qualification_date_Lead_Management__c</queriedFields>
        <queriedFields>source__c</queriedFields>
        <queriedFields>TS_website__c</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Prospect_Type__c</queriedFields>
        <queriedFields>First_activity_after_owner_change__c</queriedFields>
        <queriedFields>Founding_Date__c</queriedFields>
        <queriedFields>Share_Capital__c</queriedFields>
        <queriedFields>Group__c</queriedFields>
        <queriedFields>Industry_Risk__c</queriedFields>
        <queriedFields>Security__c</queriedFields>
        <queriedFields>Security_Amount__c</queriedFields>
        <queriedFields>Insolvency__c</queriedFields>
        <queriedFields>Insolvency_Date__c</queriedFields>
        <queriedFields>Financial_Situation__c</queriedFields>
        <queriedFields>SRM_Special_Risk_Management__c</queriedFields>
        <queriedFields>Under_Monitoring__c</queriedFields>
        <queriedFields>Under_Monitoring_since__c</queriedFields>
        <queriedFields>Reason_for_Monitoring__c</queriedFields>
        <queriedFields>Issued_Date__c</queriedFields>
        <queriedFields>Valid_Date__c</queriedFields>
        <queriedFields>Residual_Debt_Discharge__c</queriedFields>
        <queriedFields>Insolvency_Reference_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRiskChecks</name>
        <label>GetRiskChecks</label>
        <locationX>1050</locationX>
        <locationY>1230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughRiskChecks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objLegacyAcc.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Risk_Check__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AccId_of_Opps</name>
        <label>Update AccId of Opps</label>
        <locationX>1041</locationX>
        <locationY>2130</locationY>
        <connector>
            <targetReference>UpdateLegacyAnd_PrimaryAcc</targetReference>
        </connector>
        <inputReference>OppUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_legCases</name>
        <label>Update legCases</label>
        <locationX>1051</locationX>
        <locationY>1083</locationY>
        <connector>
            <targetReference>GetRiskChecks</targetReference>
        </connector>
        <inputReference>legCasesToUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBalanceSheets</name>
        <label>UpdateBalanceSheets</label>
        <locationX>1059</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>GetCreditAgencies</targetReference>
        </connector>
        <inputReference>BalanceSheetCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCreditAgencies</name>
        <label>UpdateCreditAgencies</label>
        <locationX>1042</locationX>
        <locationY>1940</locationY>
        <connector>
            <targetReference>Update_AccId_of_Opps</targetReference>
        </connector>
        <inputReference>CreditAgencyCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLegacyAnd_PrimaryAcc</name>
        <label>UpdateLegacyAnd PrimaryAcc</label>
        <locationX>1215</locationX>
        <locationY>2130</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputReference>AccountsToUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLegacyContacts</name>
        <label>UpdateLegacyContacts</label>
        <locationX>1448</locationX>
        <locationY>784</locationY>
        <connector>
            <targetReference>GetAllOpps_from_LegacyAcc</targetReference>
        </connector>
        <inputReference>ContactUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrimaryShop</name>
        <label>UpdatePrimaryShop</label>
        <locationX>796</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>AssignPrimaryAcc</targetReference>
        </connector>
        <inputReference>ShopUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRiskChecks</name>
        <label>UpdateRiskChecks</label>
        <locationX>1053</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>GetBalanceSheets</targetReference>
        </connector>
        <inputReference>RiskCheckCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Account_Selection</name>
        <label>Account Selection</label>
        <locationX>944</locationX>
        <locationY>133</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetLegacyAcc</targetReference>
        </connector>
        <fields>
            <name>Select_Account</name>
            <choiceReferences>AccountList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_Legacy_Shop_Information</name>
            <dataType>Boolean</dataType>
            <fieldText>Copy Legacy Shop Information?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Transfer_valid_Contacts</name>
            <dataType>Boolean</dataType>
            <fieldText>Transfer valid Contacts?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AccountInput</name>
        <label>AccountInput</label>
        <locationX>843</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Selection</targetReference>
        </connector>
        <fields>
            <name>New_Primary_Account</name>
            <dataType>String</dataType>
            <fieldText>New Primary Account (Name)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1355</locationX>
        <locationY>2130</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShopsyncText</name>
            <fieldText>&lt;p&gt;The following Shops have been updated:&lt;/p&gt;&lt;p&gt;{!ShopUpdateCollection}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The following Contacts have been transferred to the new Account ({!Select_Account}):&lt;/p&gt;&lt;p&gt;{!ContactUpdateCollection}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>154</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>AccountInput</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountsToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BalanceSheetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Balance_Sheet__c</objectType>
    </variables>
    <variables>
        <name>ContactMatchCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContactUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CreditAgencyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Agency__c</objectType>
    </variables>
    <variables>
        <name>LegacyContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LegacyShopsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>shop__c</objectType>
    </variables>
    <variables>
        <name>legCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>legCasesToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objLegacyAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objLegacyContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objLegacyShop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>shop__c</objectType>
    </variables>
    <variables>
        <name>objPrimaryAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objPrimaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objPrimaryShop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>shop__c</objectType>
    </variables>
    <variables>
        <name>OpportunityObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PrimaryContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PrimaryShopsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>shop__c</objectType>
    </variables>
    <variables>
        <name>RiskCheckCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Risk_Check__c</objectType>
    </variables>
    <variables>
        <name>ShopUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>shop__c</objectType>
    </variables>
    <variables>
        <name>strCurrAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
